<section id="primary_content">

	<h1><%= (@category) ? "Talking about #{@category.title}" : "Warblings" %></h1>
	
	<% @posts.each do |post| %>
		<article class="full">
			
			<h2><%= link_to post.title, conversation_post_path(post) %></h2>
			<time><%= post.created_at.to_formatted_s(:long_ordinal) %></time>

			<% unless post.hero_image.url.nil? %>
				<%= image_tag post.hero_image, :class => "hero" %>
			<% end %>

			<%= simple_format post.excerpt %>
			
		</article>
	<% end %>
	
	<%= paginate @posts %>
	
</section>

<aside id="secondary_content">
	
	<%= render :partial => "categories" %>
	
	<%= render :partial => "conversation/bookmarks/panel", :locals => { :bookmarks => @bookmarks } %>
	
</aside>