<section id="primary_content" class="single">
	
	<%= simple_form_for [@message], :html => { :class => "primary_panel" } do |f| %>
  
		<h1>Submit a challenge</h1>
		
		<p>We are always on the lookout for ventures that are tackling a social or environmental issue in an innovative, disruptive way. If you have started to prove your concept, are up and running and need some help to accelerate &amp; grow, drop us a note, we'd love to chat. Some examples of ventures we've supported are <%= link_to "Open Cinema", "http://www.opencinema.net/" %>, <%= link_to "Sustaination", "http://app.sustaination.co/" %> and <%= link_to "GnewtCargo", "http://gnewtcargo.co.uk/" %>.</p>

		<%= field_set_tag do %>
			<%#= f.input :title, :label => "Your name", :wrapper_html => { :class => "smart_label" } %>
			<%#= f.input :contact, :label => "Your email address", :wrapper_html => { :class => "smart_label" } %>
			<%#= f.input :description, :label => "Summarise your challenge, remember to include a link to your digital home if you have one.", :wrapper_html => { :class => "smart_label" }, :input_html => { :rows => 10 } %>
		<% end %>

		<%= field_set_tag nil, :class => "actions" do %>
			<%= f.submit :value => "Submit" %>	
		<% end %>
	
	<% end %>
	
</section>