<article class="block">
	
	<% if post.body.blank? %>
		<h2><%= post.title %></h2>
	<% else %>
		<h2><%= link_to post.title, blog_post_path(post) %></h2>
	<% end %>
	
	<% if post.hero_image.url.nil? %>
		<%= image_tag "assets/placeholder.png", :class => "hero" %>
	<% else %>
		<%= image_tag post.hero_image.thumbnail, :class => "hero" %>
	<% end %>
	
	<time><%= post.created_at.to_formatted_s(:long_ordinal) %></time>
	
	<%= markdown.render(post.excerpt).html_safe %>
	
</article>