<div class="meta">
	
	<div class="compact avatar">
		<% if idea.user.avatar.blank? %>
			<%= link_to (image_tag "assets/avatar_small.png", :alt => idea.user.name), member_path(idea.user), :class => "tip", :title => idea.user.name %>
		<% else %>
			<%= link_to (image_tag idea.user.avatar.compact, :alt => idea.user.name, :title => idea.user.name), member_path(idea.user), :class => "tip", :title => idea.user.name %>
		<% end %>
	</div>

	<div class="author">
		<h3><span>An idea from</span> <%= idea.user.name %></h3>
		<% if signed_in_as_owner?(idea) %>
			<p class="actions"><%= link_to "edit", edit_challenge_idea_path(@challenge, idea) %> or <%= link_to "delete", challenge_idea_path(@challenge, idea), :method => :delete, :confirm => "Are you sure you want to delete this idea?" %></p>
		<% end %>
	</div>

</div>

<p><%= simple_format auto_link(idea.body) %></p>

