<%= simple_form_for [@challenge, @idea], :html => { :class => "primary form_panel", :remote => ((@idea.new_record?) ? true : false)  } do |f| %>

	<h2><%= (@idea.new_record?) ? "Share Idea" : "Edit Idea" %></h2>
	
	<% if user_signed_in? && @challenge.open? %>

		<%= field_set_tag do %>
			<%= f.input :body, :label => "Challenges love ideas, share yours with the community!", :wrapper_html => { :class => "smart_label" }, :input_html => { :rows => 10 } %>
		<% end %>

		<%= field_set_tag nil, :class => "actions" do %>
			<%= f.submit :value => ((@idea.new_record?) ? "Share" : "Edit") %>	
		<% end %>
	
	<% elsif user_signed_in? && !@challenge.open? %>
		<p>This challenge is closed, thanks for all your Good!</p>
	<% end %>

<% end %>