<section id="primary_content" class="single">
	
	<%= simple_form_for(@user, :as => 'user', :url => activate_path, :html => { :method => :put }) do |f| %>

		<h1>Claim your profile</h1>		
		
		<%= "<p id='site_notice'>#{flash[:error]}</p>".html_safe if flash[:error] %>
		<%= "<p id='site_notice'>#{flash[:notice]}</p>".html_safe if flash[:notice] %>
		<%= "<p id='site_notice'>#{flash[:alert]}</p>".html_safe if flash[:alert] %>
		
		<p>Welcome to our new web hive! You're profile is nearly ready, just enter new password below to get started.</p>

		<fieldset>
			<%= f.input :password,  :input_html => { :autocomplete => "off" }, :required => true,  :input_html => { :autocomplete => "off" }, :wrapper_html => { :class => "smart_label" } %>
			<%= f.input :password_confirmation,  :input_html => { :autocomplete => "off" }, :required => true, :input_html => { :autocomplete => "off" }, :wrapper_html => { :class => "smart_label" } %>
		</fieldset>

		<fieldset class="actions">
			<%= f.hidden_field "reset_password_token", :value => params[:reset_password_token] %>
			<%= f.button :submit, "Let me at it" %>
		</fieldset>
		
		<p class="footnote">Oh, yeah, by re-activating your account you are agreeing to our new, fairly standard and dull, <%= link_to "privacy", privacy_path %> policy.</p>
		
	<% end %>

</section>