<section id="primary_content" class="single">
	
	<%= simple_form_for(resource, :as => resource_name, :url => talents_path, :html => { :method => :put, :class => "slides primary_panel" }) do |f| %>

		<h1 class="ir">Your Manifesto for Doing<span></span></h1>
		
		<%= render "shared/notices" %>

		<div class="fields">

			<fieldset class="slide involvement">
		
				<legend>How do you like to get stuff done?</legend>
				
				<% if @skills.any? %>

					<ul class="talents">
					<% @skills.each do |skill| %>
						<label for='skill_<%=skill.id%>'><li class='js-talent-badge talent-badge <%=resource.skill_level(skill) ? "talent-badge--filled" : ""%>'><%=skill.title%></li></label>
	 					<%= check_box_tag "skill[#{skill.id}]", 1, resource.skill_level(skill) %>
					<% end %>
					</ul>
				
				<% end %>		
			
				<%= image_tag "illustrations/laptop.png", :class => "slide_illustration" %>
			
			
			</fieldset>
		
			<fieldset class="slide slide_skills">
				<legend>Your talents and interests</legend>
				<%= f.input :brings, :label => "What other special skills do you bring?", :wrapper_html => { :class => "smart_label" }, :input_html => { :rows => 5 } %>
				<%= f.button :submit, "Save" %>
			</fieldset>
		
		</div>
		
	<% end %>
	
</section>
