<section id="primary_content" class="single">
		
	<%= simple_form_for(resource, :as => resource_name, :url => activity_path, :html => { :method => :put, :class => "primary" }) do |f| %>
		
		<h1>Which gigs have you attended?</h1>
		
		<%= render "shared/notices" %>
		
		<% if @past_gigs.any? %>
		
			<fieldset class="activity">
				<% if @past_gigs.any? %>

					<% @past_gigs.each do |gig| %>
						<div class='input boolean optional'>
							<label class="boolean optional control-label checkbox">
								<%= check_box_tag "gigs[]", gig.id, resource.is_attending_gig?(gig), :class => "checkbox" %>
								<%= "#{gig.title} <br /><span>(#{gig.start_time.strftime("%e %B, %Y")})</span>".html_safe %>
							</label>
						</div>
					<% end %>

				<% end %>
			</fieldset>

		<% end %>

		<fieldset class="actions">
			<%= f.button :submit, "Update" %>
		</fieldset>
		
	<% end %>
		
</section>