<section id="primary_content" class="single">
	
	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "primary" }) do |f| %>

		<h1>All about you</h1>
		
		<%= render "shared/notices" %>

		<fieldset>
				
			<%= f.input :name, :required => true, :wrapper_html => { :class => "smart_label" } %>
			<%= f.input :email, :required => true, :wrapper_html => { :class => "smart_label" } %>
			<%= f.input :gender, :as => :select, :collection => ["Female", "Male", "Transgender"] %>
			<%= f.input :age, :wrapper_html => { :class => "smart_label" } %>
			<%= f.input :location, :label => "Your physical location", :wrapper_html => { :class => "smart_label" } %>
			
			<%= f.input :url, :label => "Your digital location", :wrapper_html => { :class => "smart_label" } %>
			<%= f.input :twitter_handle, :wrapper_html => { :class => "smart_label" } %>
			
		</fieldset>

		<fieldset class="actions">
			<%= f.input :join_mailing_list, :as => :boolean, :label => "On mailing list?" %>
			<%= f.button :submit, "Save" %>
		</fieldset>
	<% end %>
	
</section>
