<section id="primary_content" class="single">
	
	<%= simple_form_for(resource, :as => resource_name, :url => password_path, :html => { :method => :put, :class => "primary" }) do |f| %>

		<h1>Change your password</h1>
		
		<%= render "shared/notices" %>

		<fieldset>
			<%= f.input :password, :label => "New password", :required => false, :wrapper_html => { :class => "smart_label" }, :input_html => { :autocomplete => "off" } %>
			<%= f.input :password_confirmation, :label => "Confirm new password", :required => false, :input_html => { :autocomplete => "off" }, :wrapper_html => { :class => "smart_label" } %>
		</fieldset>

		<fieldset class="actions">
			<%= f.button :submit, "Save" %>
		</fieldset>
		
	<% end %>
	
</section>
