<section id="primary_content" class="single">
	
	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "primary" }) do |f| %>

		<h1>A little about you</h1>
		
		<%= render "shared/notices" %>

		<fieldset>
				
			<%= f.input :name, :required => true, :wrapper_html => { :class => "smart_label" } %>
			<%= f.input :email, :required => true, :wrapper_html => { :class => "smart_label" } %>
			<%= f.input :location, :label => "Your physical location", :wrapper_html => { :class => "smart_label" } %>
			
			<%= f.input :url, :label => "Your digital location", :wrapper_html => { :class => "smart_label" } %>
			<%= f.input :twitter_handle, :wrapper_html => { :class => "smart_label" } %>
			
			<%= f.input :subscribed, :as => :boolean, :label => "On the GFN mailing list?" %>
			
		</fieldset>
		
		<fieldset>
			<legend>Change your password?</legend>
			<br /><br />
			<%= f.input :password, :label => "New password", :required => false, :wrapper_html => { :class => "smart_label" }, :input_html => { :autocomplete => "off" } %>
			<%= f.input :password_confirmation, :label => "Confirm new password", :required => false, :input_html => { :autocomplete => "off" }, :wrapper_html => { :class => "smart_label" } %>
		</fieldset>

		<fieldset class="actions">
			<%= f.button :submit, "Update me" %>
		</fieldset>
	<% end %>
	
</section>
