<section id="primary_content" class="single">
	
	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "primary_panel slides" }) do |f| %>

		
		<%= render "shared/notices" %>
		
		<div class="fields">
		
			<% if resource.avatar.url.nil? %>
			<fieldset class="slide slide_face">
			
				<legend>Collaboration likes faces</legend>
			
				<div class="faces">
					<ul class="avatar_list">
						<% @faces.each do |user| %>
							<li class="avatar compact">	
								<a class="tip" title="<%= user.name %>"><%= image_tag user.avatar.compact, :alt => user.name %></a>
							</li>
						<% end %>
					</ul>
				</div>
			
				<%= f.input :avatar, :label => "Select your picture" %>
			
			</fieldset>
			<% end %>
		
			<fieldset class="slide slide_skills">
			
				<legend>Your special skills and talents</legend>			
			
				<%= f.input :brings, :label => "Do you bring any other special skills or talents to the movement?", :input_html => { :rows => 7 }, :wrapper_html => { :class => "smart_label" } %>
			
			</fieldset>

			<fieldset class="slide slide_locations">
			
				<legend>Where can people find you?</legend>
				
				<%= f.input :twitter_handle, :wrapper_html => { :class => "smart_label" } %>
				<%= f.input :url, :label => "Your digital home", :wrapper_html => { :class => "smart_label" } %>
				<%= f.input :location, :label => "Your physical location", :wrapper_html => { :class => "smart_label" } %>
			
				<%= f.button :submit, "All done" %>
							
			</fieldset>

		<% end %>
		
	</div>
	
</section>
