<section id="primary_content" class="single">
	
	<%= simple_form_for(resource, :as => resource_name, :url => talents_path, :html => { :method => :put, :class => "primary_panel" }) do |f| %>

		<h1>Your interests and talents</h1>
		
		<%= render "shared/notices" %>

		<fieldset>	
				
			<% if @skills.any? %>

				<% @skills.each do |skill| %>
				<ul class="range_slider">
					<li class="skill"><%= f.label skill.title %></li>
					<li class="details" title="<%= skill.description %>">?</li>
					<li class="limit"><%= skill.lower %></li>
					<li class="ranger"><%= range_field_tag "skill[#{skill.id}]", resource.skill_level(skill) || 1, :in => 0...11, :step => 1 %></li>
					<li class="limit"><%= skill.upper %></li>
				</ul>
				<% end %>
				
			<% end %>		
			
		</fieldset>
		
		<fieldset class="minor">
			<%= f.input :brings, :label => "What other special skills do you bring?", :wrapper_html => { :class => "smart_label" }, :input_html => { :rows => 4 } %>
		</fieldset>

		<fieldset class="actions">
			<%= f.button :submit, "Save" %>
		</fieldset>
		
	<% end %>
	
</section>
