<section id="primary_content" class="single">

	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		
		<h1 class="ir">Join the community<span></span></h1>
		
		<p>Did you have an account on our old Ning platform? <%= link_to "Skip registration", login_path %></p>
		
		<%= f.error_notification %>

		<fieldset class="slide warblings">
			<legend>Which issues are you most passionate about?</legend>
			<%= f.association :warblings, :as => :check_boxes, :label => "" %>
		</fieldset>
		
		<fieldset class="slide chapters">
			<legend>Which Good for Nothing chapter are you closest to?</legend>
			
			<%= f.association :chapter, :as => :radio_buttons, :label => "" %>
			<%= f.input :location, :as => :select, :label => "If you're not close to any, where are you?", :collection => @locations %>
			
		</fieldset>
		
		<fieldset class="slide involvement">
			
			<legend>Your talents</legend>
			<% if @skills.any? %>

				<% @skills.each do |skill| %>
					<%= f.label skill.title %>
					<%= range_field_tag "skill[#{skill.id}]", resource.skill_level(skill) || 0, :in => 0...11, :step => 1 %>
				<% end %>

			<% end %>
			
			<p class="footnote">You can tell us more about your skills from your profile</p>
			
		</fieldset>

		<fieldset>
			<legend>Claim your profile</legend>
			<%= f.input :name, :required => true, :wrapper_html => { :class => "smart_label" } %>
			<%= f.input :email, :required => true, :wrapper_html => { :class => "smart_label" } %>
			<%= f.input :password, :required => false, :input_html => { :autocomplete => "off" }, :wrapper_html => { :class => "smart_label" } %>
			<%= f.input :password_confirmation, :required => false, :input_html => { :autocomplete => "off" }, :wrapper_html => { :class => "smart_label" } %>
			
			<%= f.input :reasons_for_joining, :input_html => { :rows => 5 }, :wrapper_html => { :class => "smart_label" } %>
			<%= f.input :join_mailing_list, :as => :boolean, :label => "Join the GFN mailing list?" %>
			<%= f.button :submit, "Create my profile" %>
		</fieldset>
		
	<% end %>

</section>