<%= simple_form_for [commentable, comment], :html => { :class => "primary form_panel", :remote => ((comment.new_record?) ? true : false)  } do |f| %>

	<h2><%= (comment.new_record?) ? commentable.commentable_title : "Edit" %></h2>
	
	<%= field_set_tag do %>
		<%= f.input :body, :label => "Share with the community...", :wrapper_html => { :class => "smart_label" }, :input_html => { :rows => 10 } %>
	<% end %>

	<%= field_set_tag nil, :class => "actions" do %>
		<%= f.submit :value => ((comment.new_record?) ? "Share" : "Save") %>	
	<% end %>

<% end %>