<% if commentable.open_for_comment? && user_signed_in? %>

	<%= render :partial => "comments/form", :locals => { :comment => Comment.new, :commentable => commentable } %>
	
<% elsif commentable.open_for_comment? && !user_signed_in?  %>
	
	<h2><%= commentable.commentable_title %></h2>
	<p><%= link_to "Login", login_path(:next => url_for([commentable])) %> or <%= link_to "join the community", register_path(:next => url_for([commentable])) %> to start sharing.</p>

<% end %>

<% if commentable.open_for_comment? || commentable.comments.any? %>

<ul class="contributions" id="contributions">
	<% if comments.any? %>
		<% comments.each do |comment| %>
			<li class="contribution">
				<%= render :partial => "comments/block", :locals => { :comment => comment, :commentable => commentable } %>
			</li>
		<% end %>
	<% end %>
</ul>

<% end %>