<section id="primary_content" class="single">

	<%= simple_form_for [@partner] do |f| %>
  
		<h1>Partner with us</h1>

		<p>Something about partnering with us, what you can do, why it matters and such like.</p>

		<%= field_set_tag do %>
			<%= f.input :name, :label => "Your name", :wrapper_html => { :class => "smart_label" } %>
			<%= f.input :contact, :label => "Your email address", :wrapper_html => { :class => "smart_label" } %>
			<%= f.input :purpose, :label => "How would you like to get involved?", :collection => [ 'Sponsor a challenge', 'Give us stuff to help fuel gigs', 'Get your people doing Good for Nothing', 'Invest in Good for Nothing'] %>
			<%= f.input :notes, :label => "A little about your organisation", :wrapper_html => { :class => "smart_label" } %>
		<% end %>

		<%= field_set_tag nil, :class => "actions" do %>
			<%= f.submit :value => "Send request" %>	
		<% end %>
	
	<% end %>
	
</section>