<section id="primary_content" class="single">
	
	<div class="abstract">
		<div>
			<h1>GFN calendar, for the offline bits</h1>
			
			<p>We love the Interweb, but to solve challenges people also need to get together. Hooking up with likeminded folk at a gig or social, or just for a cuppa and a natter is the Good for Nothing way.</p>
			<p>Gigs are how GFN started and they continue to be at the heart of what we do; 24-48 hr collaborative experiments. Socials are just that, a time to meet up with fellow GFNers, have a natter and be merry.</p>
		</div>
		<p class="cta strong"><%= link_to "Take it online", challenges_path %></p>
	</div>
	
	<% if @events.any? %>
	<ul class="grid_list">
		<% @events.each do |event| %>
		<li class="note">

			<% if event.class == Gig %>
			
				<h3><%= event.title %></h3>
				<% if event.start_time && event.end_time %>
				<time><%= event.start_time.to_formatted_s(:long_ordinal) %> &ndash; <%= event.end_time.to_formatted_s(:long_ordinal) %></time>
				<% end %>
				<p>In: <%= event.chapter.title %></p>
				<% unless event.partner.nil? %>
				<p>In collaboration with: <%= event.partner.name %></p>
				<% end %>
				<p class="cta"><%= link_to "Details & registration", gig_path(event) %></p>
				
			<% elsif %>
			
				<%= render :partial => "socials/block", :locals => { :social => event } %>
				
			<% end %>
			
		</li>
		<% end %>
	</ul>
	<% end %>
	
	<p class="cta"><%= link_to "Past gigs", gigs_path %></p>
	
</section>