<section id="primary_content" class="single">
	<h1>The GFN calendar</h1>
	
		<p>Gigs are how GFN started and they continue to be at the heart of what we do; 24 to 48 hour experiences.</p>
		<p>Fast track making, doing and rapid prototyping; building community through demanding common tasks with music, food and laughs &ndash; creative collaboration meets rave, real people, working on real challenges, together.</p>
		<p>Socials are for socialising with alcoholic beverages.</p>
		
		<% if @gigs.any? %>
			<ul class="grid_list">
				<% @gigs.each do |gig| %>
					<li class="note">
					<h3><%= link_to gig.title, gig_path(gig) %></h3>
					<% if gig.start_time && gig.end_time %>
					<time><%= gig.start_time.to_formatted_s(:long_ordinal) %> - <%= gig.end_time.to_formatted_s(:long_ordinal) %></time>
					<% end %>
					</li>
				<% end %>
			</ul>
		<% end %>
		
		<% if @socials.any? %>
		<ul class="grid_list">
			
			<% @socials.each do |social| %>
			<li class="note">
				<%= render :partial => "socials/block", :locals => { :social => social } %>
				</li>
			<% end %>
			</ul>
		<% end %>
		
		<p class="cta"><%= link_to "All gigs, past and present", gigs_path %></p>
		
	
</section>