<section id="primary_content">
	<h1>The Community</h1>
	
	<p>Good for Nothing is a growing community of smart folk who collaborate with social innovators, social business and enterprise, activists, change makers, film makers and charities. The community welcomes anyone with skills who has a desire to get stuck in.</p>
	
	<article class="block">
		<h2>Members</h2>
		<p>Do-ers, the core of the community.</p>
		<p><%= link_to "Members &rarr;".html_safe, members_path %></p>
	</article>
		
	<article class="block">
		<h2>Ventures</h2>
		<p>The purpose. Why we're all here.</p>
		<p><%= link_to "Ventures &rarr;".html_safe, ventures_path %></p>
	</article>
	
	<article class="block">
		<h2>Friends</h2>
		<p>Helping make gigs possible.</p>
		<p><%= link_to "Friends &rarr;".html_safe, friends_path %></p>
	</article>
		
	<article class="block">
		<h2>Partners</h2>
		<p>Putting on gigs with us</p>
		<p><%= link_to "Partners &rarr;".html_safe, partners_path %></p>
	</article>
	
</section>

<aside id="secondary_content">
	
	<p class="cta"><%= link_to "The Calendar".html_safe, calendar_path %></p>
	
	<%= render :partial => "shared/events", :locals => { :gig => @gig, :social => @social } %>
	
</aside>