<section id="primary_content">
	<h1>Your Community</h1>
	
	<div class="abstract">
		<p>Good for Nothing is a growing community of smart folk who collaborate with social innovators, social business and enterprise, activists, change makers, film makers and charities. The community welcomes anyone with skills who has a desire to get stuck in.</p>
	</div>
	
	<ul class="grid_list grid_two">
		<li>
			<h2><%= link_to "Members".html_safe, members_path %></h2>
			<p>Do-ers, the core of the community.</p>
		</li>
		
		<li>
			<h2><%= link_to "Ventures".html_safe, ventures_path %></h2>
			<p>The purpose. Why we're all here.</p>
		</li>
	
		<li>
			<h2><%= link_to "Friends".html_safe, friends_path %></h2>
			<p>Helping make gigs possible.</p>
		</li>
		
		<li>
			<h2><%= link_to "Partners".html_safe, partners_path %></h2>
			<p>Putting on gigs with us</p>
		</li>
	</ul>
	
</section>

<aside id="secondary_content">
	
	<p class="cta"><%= link_to "Gigs &amp; Socials".html_safe, calendar_path %></p>
		
</aside>