<section id="primary_content" class="single">
	<h1>The Good for Nothing Community</h1>
	
	<div class="panel">
		<p>Describes the community, shows a list most active folk&hellip; or maybe most recent&hellip; who knows.</p>
	</div>
	
	<% if @members.any? %>
	<article class="block">
		<h2>Members</h2>
		<p>Do-ers, the core of the community.</p>
		<ul>
			<% @members.each do |member| %>
			<li><%= link_to member.name, member_path(member) %></li>
			<% end %>
		</ul>
		<p><%= link_to "All members &rarr;".html_safe, members_path %></p>
	</article>
	<% end %>
		
	<% if @ventures.any? %>
	<article class="block">
		<h2>Ventures</h2>
		<p>The purpose. Why we're all here.</p>
		<ul>
			<% @ventures.each do |venture| %>
			<li><%= link_to venture.name, venture.url %></li>
			<% end %>
		</ul>
		<p><%= link_to "All ventures &rarr;".html_safe, ventures_path %></p>
	</article>
	<% end %>
	
	<% if @friends.any? %>
	<article class="block">
		<h2>Friends</h2>
		<p>Helping make gigs possible.</p>
		<ul>
			<% @friends.each do |friend| %>
			<li><%= link_to friend.name, friend.url %></li>
			<% end %>
		</ul>
		<p><%= link_to "All friends &rarr;".html_safe, friends_path %></p>
	</article>
	<% end %>
		
	<% if @partners.any? %>
	<article class="block">
		<h2>Partners</h2>
		<p>Gig sponsors</p>
		<ul>
			<% @partners.each do |partner| %>
			<li><%= link_to partner.name, partner.url %></li>
			<% end %>
		</ul>
		<p><%= link_to "All partners &rarr;".html_safe, partners_path %></p>
	</article>
	<% end %>
	
</section>