<section id="primary_content">
	<h1>Your Community</h1>
	
	<div class="abstract">
		<p>The movement is fuelled by a growing community of smart folk who collaborate with social innovators, social business and enterprise, activists, change makers, film makers and charities. The community welcomes anyone with skills who has a desire to get stuck in.</p>
	</div>
	
	<ul class="grid_list grid_two">
		<li>
			<div class="section_panel">
				<h2><%= link_to "Good for Nothingers".html_safe, members_path %></h2>
				<p>The do-ers, makers, dreamers and believers, the heart of GFN.</p>
				<%= image_tag "photos/members.jpg", :alt => "Some Good for Nothingers" %>
			</div>
		</li>
		
		<li>
			<div class="section_panel">
				<h2><%= link_to "Ventures".html_safe, ventures_path %></h2>
				<p>The change-makers, the challengers, the reason we're here.</p>
				<%= image_tag "photos/ventures.jpg", :alt => "Ventures" %>
			</div>
		</li>
	
		<li>
			<div class="section_panel">
				<h2><%= link_to "Friends".html_safe, friends_path %></h2>
				<p>Folk helping make Good for Nothing gigs happen with generous donations.</p>
				<%= image_tag "photos/friends.jpg", :alt => "Friends" %>
			</div>
		</li>
		
		<li>
			<div class="section_panel">
				<h2><%= link_to "Partners".html_safe, partners_path %></h2>
				<p>Organisations investing in gigs, challenges and projects with us.</p>
				<%= image_tag "photos/partners.jpg", :alt => "Partners" %>
			</div>
		</li>
	</ul>
	
</section>

<aside id="secondary_content">
	
	<p class="icon_gigs"><%= link_to "Meet the community<br /> at gigs &amp; socials".html_safe, calendar_path %></p>
		
</aside>