<section id="primary_content" class="single">
	<h1>How are we doing?</h1>
	
	<p class="cta" style="float: right; margin-bottom: 25px"><%= link_to "&larr; last week".html_safe %> <%= link_to "This week ".html_safe %></p>

	<table>
		<thead>
			<tr class="date">
				<th colspan="8">Crew activity (all time)</th>
			</tr>
			<tr>
				<th>Blog Posts</th>
				<th>Warbles</th>
				<th>Challenges</th>
				<th>Gigs</th>
				<th>Socials</th>
				<th>Facebook Posts</th>
				<th>Tweets</th>
				<th>Newsletters</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @crew['blog_posts'] %></td>
				<td><%= @crew['warbles'] %></td>
				<td><%= @crew['challenges'] %></td>
				<td><%= @crew['gigs'] %></td>
				<td><%= @crew['socials'] %></td>
				<td><%= @fb_posts %></td>
				<td><%= @twitter_tweets %></td>
				<td><%= @mailchimp_newsletters %></td>
			</tr>
		</tbody>
	</table>
		
	<table>
		<thead>
			<tr class="date">
				<th colspan="9">User interactions (all time)</th>
			</tr>
			<tr>
				<th>Unique Visitors</th>
				<th>Ideas</th>
				<th>Contributions</th>
				<th>Gig Sign-ups</th>
				<th>Partner Requests</th>
				<th>Challenge Requests</th>
				<th>Followers</th>
				<th>Likes</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @ga_uniques %></td>
				<td><%= @users['ideas'] %></td>
				<td><%= @users['contributions'] %></td>
				<td><%= @users['gigs_signed_up'] %></td>
				<td><%= @users['partner_requests'] %></td>
				<td><%= @users['challenge_requests'] %></td>
				<td><%= @twitter_followers %></td>
				<td><%= @fb_likes %></td>
			</tr>
		</tbody>
	</table>
	
	<table>
		<thead>
			<tr class="date">
				<th colspan="8">Member Statistics on <%= DateTime.now.to_s(:article) %></th>
			</tr>
			<tr>
				<th>Inactive members</th>
				<th>Active Members</th>
				<th>Profile completion average (%)</th>
				<th>Members shared an idea (%)</th>
				<th>Members added a contribution (%)</th>
				<th>Members attended a gig (%)</th>
				<th>Members attended a social (%)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @members['inactive'] %></td>
				<td><%= @members['active'] %></td>
				<td><%= @members['completion_average'] %></td>
				<td><%= @members['shared_ideas'] %></td>
				<td><%= @members['shared_contributions'] %></td>
				<td><%= @members['attended_gigs'] %></td>
				<td><%= @members['attended_socials'] %></td>
			</tr>
		</tbody>
	</table>
			
</section>