<section id="primary_content">
	<h1>How it works</h1>
		
	<div class="abstract">
		<p>Good for Nothing is about diverse groups of <%= link_to("people", {:controller => "members", :action => "index" }) %> collaborating, working in new, faster, funner and better ways.</p>

		<p>Supporting ideas and people that are leading the way to what a flourishing 21st century might look like.</p>

		<p>We’re solving stuff collaboratively <%= link_to "offline", calendar_path %> through gigs, 3/24/48 hr think hack do creative collaboration event things.</p>
	</div>
	
	<h2>How we like to get stuff done</h2>
		
	<div class="aspect-ratio-wrapper">
		<div class="aspect-ratio">
			<iframe id="vimeoembed" src="http://player.vimeo.com/video/49474841?title=0&amp;byline=0&amp;portrait=0&amp;color=9adada" frameborder="0"></iframe>
		</div>
	</div>
		
	<ol class="grid_list grid_three">
		<li>
			<h3>Doing,<br /> not talking</h3>
			<p>It's not that hard to talk clever and think big; there's an oversupply of that in our 
			world. Too often big thinking doesn't lead to big doing, yet there are so many problems that need a bit of Do.
			Roll up your sleeves and fail gloriously. 
			Good for Nothing is permission to have a go, get involved, participate and try stuff.</p>
		</li>
		<li>
			<h3>Collaborate and experiment</h3>
			<p>These are words we all hear a lot. But true collaboration &ndash; where real diversity and openness is welcomed, where we let go of power and control, where we self-organise and allow ideas and energy to emerge more naturally and where we prototype and develop them rapidly &ndash; is hard to come by. We want more of it.</p>
		</li>
		<li>
			<h3>Support the true innovators</h3>
			<p>We give creative energy to the real innovators trying to make positive change happen. 
				Most of the exciting social, environmental and human innovation is happening at the grass-roots. 
				We provide creative support to those pioneers. We think that can help accelerate positive change and impact.</p>
		</li>
	</ol>
	
	<p class="cta strong"><%= link_to "Get stuck in", challenges_path %></p>
	<br /><br />
	<h2>Hang on, How do you fund all of this?</h2>
		
	<p>It's a good question, and one we're asked often, so we've written a little guide to <%= link_to "our funding", funding_path %>.</p>
	
	
</section>

<aside id="secondary_content">
	<p class="icon_crew"><%= link_to "The Crew", who_path, :title => "Who's behind<br/> GFN?", :class => "tip" %></p>

<aside>
