<section id="primary_content">
	<h1>How it works</h1>
		
	<div class="abstract">
		<!-- <p>Good for Nothing is about diverse groups of <%= link_to("people", {:controller => "members", :action => "index" }) %> collaborating, working in new, faster, funner and better ways.</p>

		<p>Supporting ideas and people that are leading the way to what a flourishing 21st century might look like.</p>

		<p>We’re solving stuff collaboratively <%= link_to "offline", calendar_path %> through gigs, 3/24/48 hr think hack do creative collaboration event things.</p> -->

		<p>GFN is a simple idea: bring creative energy, ideas and skills to those already innovating on social issues but doing so with very limited resources. The transaction is a gift.</p>
 
		<p>It’s civic participation which is open, creative, generous, fun, social, local, and generative.</p>
 
		<p>Good for Nothing asks “what can I do for you?” How can I help you?</p>
 
		<p>Good for Nothing happens on and <%= link_to "offline", calendar_path %> through gigs and challenges, short fast gatherings, think hack do creative collaboration event things, where diverse groups of <%= link_to("people", {:controller => "members", :action => "index" }) %> support social innovators and changemakers in the places and communities we live.</p>
 
		<p>All ideas and learnings are shared openly through creative commons.</p>

	</div>
	
	<h2>How we like to get stuff done</h2>
		
	<div class="aspect-ratio-wrapper">
		<div class="aspect-ratio">
			<iframe id="vimeoembed" src="http://player.vimeo.com/video/49474841?title=0&amp;byline=0&amp;portrait=0&amp;color=9adada" frameborder="0"></iframe>
		</div>
	</div>
		
	<ol class="grid_list grid_three">
		<li>
			<h3>Doing, not talking</h3>
			<p>It's not that hard to talk clever and think big; there's an oversupply of that in our world. Yet there are so many problems that need a bit of do. Roll up your sleeves and fail gloriously. Good for Nothing is permission to have a go, get involved, participate and try stuff.</p>
		</li>
		<li>
			<h3>Collaborate and experiment</h3>
			<p>Where real diversity and openness is welcomed, where we let go of power and control, where we self-organise and allow ideas and energy to emerge more naturally and where we prototype and learn together.</p>
		</li>
		<li>
			<h3>Support the true innovators</h3>
			<p>We give creative energy, ideas and skills to the innovators trying to make positive change happen. The most exciting social innovation is happening at the grass-roots, pioneers working with very limited resources. We support them to accelerate epic change and impact.</p>
		</li>
	</ol>

	
	<p class="cta strong"><%= link_to "Get stuck in", challenges_path %></p>
	<br /><br />

	<h2>Challenges that matter</h2>

	<p>GFN challenges people to use their creativity against social issues, bringing creative energy around change makers, social innovators and activists in the form of <a href="/challenges">challenges</a>; some of which will be tackled at gigs, some with groups of your friends or colleagues, some over a cuppa online.</p>
 
	<p>Creative energy helps new ideas to be born, new possibilities to emerge, new stories, connections and new ways of looking at the world which have the potential to change the way we think and feel.</p>
 
	<p>These challenges have spawned a whole host of ideas, concepts, prototypes and by products. Some of these have reached hundreds of thousands of people, including apps for <a href="https://vimeo.com/84121507" target="_blank">citizen science</a> and <a href="https://itunes.apple.com/gb/app/wild-time/id658430256?mt=8" target="_blank">getting kids into nature</a>, a groundbreaking environmental documentary feature film, social change campaigning assets, business models for social enterprises, digital fundraising concepts, new spaces for communities and much much more.</p>

	<br /><br />

	<h2>Hang on, How do you fund all of this?</h2>
	<p>Here’s a short guide to <%= link_to "our funding", funding_path %>.</p>
	<!-- <p>It's a good question, and one we're asked often, so we've written a little guide to <%= link_to "our funding", funding_path %>.</p> -->
	
	
</section>

<aside id="secondary_content">
	<p class="icon_crew"><%= link_to "The Crew", who_path, :title => "Who's behind<br/> GFN?", :class => "tip" %></p>

<aside>
