<section id="primary_content" class="single">

	<%= simple_form_for [@message], :html => { :class => "primary_panel" } do |f| %>
  
		<h1>Message the <%= @chapter.title %> crew</h1>
		
		<%= field_set_tag do %>
		
			<ul class="avatar_list">
				<% @chapter.users.crew.each do |user| %>
					<li class="avatar compact">	
						<a class="tip" title="<%= user.name %>"><%= image_tag user.avatar.compact, :alt => user.name %></a>
					</li>
				<% end %>
			</ul>
		
			<% unless user_signed_in? %>

				<%= f.simple_fields_for :message do |m| %>
					<%= m.input :name, :label => "Your name", :wrapper_html => { :class => "smart_label" } %>
					<%= m.input :email, :label => "Your email address", :wrapper_html => { :class => "smart_label" } %>
				<% end %>

			<% end %>
			
			<%= f.input :body, :label => "What would you like to say?", :input_html => { :rows => 5 }, :wrapper_html => { :class => "smart_label" } %>
						
			<% @recipients.each do |recipient| %>
				<%= f.hidden_field "user_ids", :name => "messaging_message[user_ids][]", value: recipient.id %>
			<% end %>
			
		<% end %>

		<%= field_set_tag nil, :class => "actions" do %>
			<%= f.submit :value => "Send it!" %>	
		<% end %>
	
	<% end %>
	
</section>