<section id="primary_content">
	<h1>Links matching '<%= params[:term] %>'</h1>
	<%= render :partial => "list", :locals => { :bookmarks => @bookmarks } %>
</section>

<aside id="secondary_content">
	<h2>Search the Library</h2>
	<%= render "search_form" %>
	<%= render :partial => "conversation/tags/list", :locals => { :tags => @tags } %>
	<p class="cta">View the entire <%= link_to "library &rarr;".html_safe, conversation_bookmarks_path %></p>	
</aside>