<section id="primary_content" class="single">

	<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "primary_panel" }) do |f| %>
	
		<h1>New password</h1>
	  	
		<%= render "shared/notices" %>
		
	  	<%= f.input :reset_password_token, :as => :hidden %>
		<fieldset>
	    	<%= f.input :password,  :input_html => { :autocomplete => "off" }, :label => "New password", :required => true, :wrapper_html => { :class => "smart_label" } %>
	    	<%= f.input :password_confirmation,  :input_html => { :autocomplete => "off" }, :label => "Confirm your new password", :required => true, :wrapper_html => { :class => "smart_label" } %>
		</fieldset>
	    <%= f.button :submit, "Change password" %>
	
	<% end %>

</section>