<% if @gig.present? %>
	<h3>The next gig</h3>
	<p>Join us for <%= link_to @gig.title, gig_path(@gig) %> on the <strong><%= @gig.start_time.day.ordinalize %> to the <%= @gig.end_time.day.ordinalize %></strong> of <%= @gig.start_time.strftime('%B') %> in <%= @gig.chapter.title %></p>
	<%= image_tag @gig.logo unless @gig.logo.url.nil? %>
<% end %>

<% if @social.present? %>
	<h3>The next social</h3>
	<%= render :partial => "socials/block", :locals => { :social => @social }%>
<% end %>