<nav id="primary_navigation" class="container">
	
	<ul>
		<li><%= link_to "How it Works", how_path %></li>
		<li><%= link_to "The Gigs", gigs_path %></li>
		<li><%= link_to "The Community", community_path %></li>
		<li><%= link_to "Conversations", conversation_path %></li>
	</ul>
	
	<ul id="member_navigation">
		<% if user_signed_in? %>
			<li>Hi, <%= link_to current_user.name, member_path(current_user.slug) %>, want to <%= link_to "logout?", destroy_user_session_path, :method => :delete %></li>
		<% else %>
			<li><%= link_to "Become a member", new_user_registration_path %></li>
			<li>or</li>
			<li><%= link_to "Login", new_user_session_path %></li>
		<% end %>
	</ul>
	
</nav>