<section id="primary_content">

	<% if @gig.present? %>
		<h2 class="headline">Next gig</h2>
		<h3><%= @gig.title %></h3>
		<time><%= @gig.start_time.to_formatted_s(:long_ordinal) %> - <%= @gig.end_time.to_formatted_s(:long_ordinal) %></time>
		<p><%= link_to "Find out more and read the briefs", gig_path(@gig) %></p>
	<% end %>
	
	<% if @posts.any? %>
		<h2 class="headline">Blog</h2>
		<% @posts.each do |post| %>
			<h3><%= post.title %></h3>
			<time><%= post.created_at.to_formatted_s(:long_ordinal) %></time>
			<%= simple_format post.excerpt %>
		<% end %>
	<% end %>
	
</section>