<div id="primary_content" class="single">

	<h1>What is GFN?</h1>
	
	<p class="intro">
		Good for Nothing is a community of thinkers, do-ers, makers and tinkerers applying their skills and energy to accelerate the work of cause-led innovators and change makers; it's about diverse groups of people collaborating together, working in new, faster, fun and better ways by supporting ideas and people that are leading the way to what a flourishing 21st century society might look like.
	</p>
	<p class="intro">	
		We're trying to solve challenges collaboratively – on and offline – through gigs (24 to 48hr think, hack, do creative collaboration events) and here at our web home. There are a number of ways to get involved, but for starters you could get stuck in to a <%= link_to("challenge", {:controller => 'challenges'}) %> or check out our upcoming gigs and socials on the <%= link_to("calendar", {:controller => 'colophon', :action => 'calendar'}) %>, we'd love to meet you!
	</p>
	
	<div class="homepage-stats">
		<div class="block" id="red">
			<div class="image"></div>			
			<div class="inner">
				<span class="large-number">
				<%= @venture_count %>
				</span>
				<span class="small-text">
				Amazing Causes
				</span>
			</div>
		</div>
	
		<div class="block" id="blue">
			<div class="image"></div>
			<div class="inner">			
				<span class="large-number">
					<%=@member_count %>
				</span>
				<span class="small-text">
					Talented To-Doers
				</span>
			</div>
		</div>
	</div>

</div>
</div><!-- #main -->
	
<div role="main" class="homepage-new">
	<div class="container">
	<h1>What's Happening</h1>

	<section id="latest_activity">
		
		<% @results.each do |result| %>
			<div class="card">
				<% if result.is_a?(Social) 
					@result_type = "Social"
					elsif result.is_a?(Gig) 
					@result_type = "Gig"
				end %>
				
				<% if result.is_a?(Social) 
					@path = social_path(result)
					elsif result.is_a?(Gig) 
					@path = gig_path(result)
				end %>
				<a href="<%=@path%>"><img class="cover" src="http://lorempixel.com/350/350/" /></a>
				<div class="details">
					<p class="type">
						<%=@result_type%>
					</span>
					<p class="chapter"><%=result.chapter.title%></span>
					<h2>
						<% if result.is_a?(Social) %>
							<%= link_to result.title, social_path(result) %>
						<% end %>
						<% if result.is_a?(Gig) %>
							<%= link_to result.title, gig_path(result) %>
						<% end %>
					</h2>
				</div>
				<div class="card-button">
					<p>
						<% if result.is_a?(Social) %>
							<%= link_to "Find out more", social_path(result) %>
						<% end %>
						<% if result.is_a?(Gig) %>
							<%= link_to "Find out more", gig_path(result) %>
						<% end %>
					</p>
				</div>
			</div>
		<% end %>		
	</section>
	
	<div><p class="cta" id="more"><%= link_to "See more events", calendar_path %></p></div>
	</div>
</div>