<div id="primary_content" class="single">

	<h1>What is GFN?</h1>
	
	<p class="intro">
		Good for Nothing is a growing community of thinkers, do-ers, makers and tinkerers, finding time to gift their skills and energy to help accelerate the impact of cause led innovators, change makers and epic projects of social good.
	</p>
	<p class="intro">
		It’s a rebellion of the heart.
	</p>
	
	<div class="homepage-stats">

		<%= image_tag "/assets/illustrations/peering-over.png", {:class => 'peering-over'} %>
		<%= image_tag "/assets/illustrations/teacup.png", {:class => 'teacup'} %>

		<div class="block block--red">
			<div class="inner">
				<span class="large-number">
				<%= @venture_count %>
				</span>
				<%= link_to("Amazing Causes", {:controller => "ventures", :action => "index" }, :class => "small-text") %>
			</div>
		</div>
	
		<div class="block block--blue">
			<div class="inner">			
				<span class="large-number">
					<%=@member_count %>
				</span>
				<%= link_to("Talented To-Doers", {:controller => "members", :action => "index" }, :class => "small-text") %>
			</div>
		</div>

		<div class="block block--red">
			<div class="inner">
				<span class="large-number">
				<%= @chapter_count %>
				</span>
				<%= link_to "Chapters", chapter_register_path, :class => "small-text" %>
			</div>
		</div>

		<div class="block block--blue">
			<div class="inner">			
				<span class="large-number">
					<%=@event_count %>
				</span>
				<span class="small-text">
					<%= link_to "Gigs & Socials", calendar_path, :class => "small-text" %>
				</span>
			</div>
		</div>

	</div>

</div>
</div><!-- #main -->
	
<div role="main" class="homepage-new">
	<div class="container">
		<h1>What's Coming Up</h1>

		<section id="latest_activity">
			
			<% @results.each do |result| %>
				<div class="card">
					<% if result.is_a?(Social) 
						@result_type = "Social"
						elsif result.is_a?(Gig) 
						@result_type = "Gig"
					end %>
					
					<% if result.is_a?(Social) 
						@path = social_path(result)
						elsif result.is_a?(Gig) 
						@path = gig_path(result)
					end %>

					<a href="<%=@path%>"><%=image_tag("illustrations/bird-tile.jpg", {:class => 'cover'})%></a>
					<!--<a href="<%=@path%>"><%#=image_tag(result.logo.url(:thumbnail))%></a>-->
					
					<div class="details">
						<p class="type">
							<%=@result_type%>
						</span>
						<p class="chapter"><%=result.chapter.title%></span>
						<h2>
							<% if result.is_a?(Social) %>
								<%= link_to result.title, social_path(result) %>
							<% end %>
							<% if result.is_a?(Gig) %>
								<%= link_to result.title, gig_path(result) %>
							<% end %>
						</h2>
					</div>
					<div class="card-button">
						<p>
							<% if result.is_a?(Social) %>
								<%= link_to "Find out more", social_path(result) %>
							<% end %>
							<% if result.is_a?(Gig) %>
								<%= link_to "Find out more", gig_path(result) %>
							<% end %>
						</p>
					</div>
				</div>
			<% end %>		
		</section>
		
		<div><p class="cta" id="more"><%= link_to "See more events", calendar_path %></p></div>
	</div>
</div>

<div>
	<div class="container homepage--lower">
		<section id="latest_activity" class="panel">
				
				<h2>Previously on GFN:</h2>
			
				<% if @last_gig.present? || @social.present? %>
					<div class="event_panel">
						<% if @last_gig.present? %>
							<h3><%= link_to @last_gig.name, gig_path(@last_gig) %></h3>
							<p><%= @last_gig.title %> on the <%= @last_gig.start_time.day.ordinalize %> to the <%= @last_gig.end_time.day.ordinalize %> of <%= @last_gig.start_time.strftime('%B') %> in <%= @last_gig.chapter.title %></p>
						<% end %>
					</div>
				<% end %>
				
				<!--<p class="cta"><%= link_to "GFN Calendar", calendar_path %></p>-->
				
		</section>

		<section id="updates" class="panel">
				<% if @latest_post.present? %>
					<h2>Latest warblings</h2>
					<%= render :partial => "posts/block", :locals => { :post => @latest_post } %>
				<% end %>
		</section>
	</div>
</div>

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<%= javascript_include_tag '/assets/infobox.js' %>