<section id="primary_content">

	<% if @gig.present? %>
	<article>
		<h2>Your next dose of Good - <%= link_to @gig.title, gig_path(@gig) %></h2>
		<p>Come join us on <strong><%= @gig.start_time.day.ordinalize %> to the <%= @gig.end_time.day.ordinalize %></strong> of <%= @gig.start_time.strftime('%B') %> in <%= link_to @gig.chapter.title, chapter_gigs_path(@gig.chapter.title) %></p>
		<%= image_tag @gig.logo unless @gig.logo.url.nil? %>
	</article>
	<% end %>
	
	<% if @posts.any? %>
		<h2>What we're talking about</h2>
		<% @posts.each do |post| %>
			<%= render :partial => "blog/posts/block", :locals => { :post => post }%>
		<% end %>
	<% end %>
	
</section>

<aside id="secondary_content">
	<%= render :partial => "blog/posts/categories" %>
</aside>