<div id="primary_content" class="single">

	<section id="latest_activity" class="panel">
		
		<% if @challenge.present? %>
			<h3><%= @challenge.cause %></h3>
			<p><%= link_to @challenge.title, challenge_path(@challenge) %></p>
			<% if @challenge.warblings.any? %>
			<% end %>
		<% end %>
		
		<%= render :partial => "shared/events", :locals => { :gig => @gig, :social => @social } %>
		<p class="cta"><%= link_to "GFN Calendar".html_safe, calendar_path %></p>
		
	</section>
	
	<section id="community" class="panel">
		<ul id="community_infographic">
			<li class="badge_count"><span><%= @cause_count %></span> <%= link_to "amazing causes", ventures_path %></li>
			<li class="ticker_count"><%= spannerize("%04d" % @member_count) %> <%= link_to "Good for Nothingers", members_path %></li>
		</ul>
		<% unless user_signed_in? %>
		<p class="highlight_button"><%= link_to "Become a member", new_user_registration_path %></p>
		<% end %>
	</section>
	
	<% if @warblings.any? %>
	<section id="warblings" class="panel">
		<%= render :partial => "warblings/list" %>
		<p class="cta"><%= link_to "More".html_safe, warblings_path %></p>
	</section>
	<% end %>
	
</div>