<% if !event.end_time.nil? && (event.start_time.past? && event.end_time.future?) %>
	
	<h2>It's happening!</h2>
	<p>This <%= event.class.to_s.humanize.downcase %> is happening right now, you can no longer register, but feel free to just drop in and say hello!</p>
	
<% elsif (event.start_time.past? && event.end_time.nil?) || (event.end_time.present? && event.end_time.past?) %>
	
	<h2>Been 'n' gone</h2>
	<p>This <%= event.class.to_s.humanize.downcase %>'s over but check out the <%= link_to "calendar", calendar_path %> for the next one.</p>
	<% # Show outputs... %>
	
<% else %>

	<% if user_signed_in? && event.is_attending?(current_user) %>
		
		<% if event.respond_to?('open_for_comment?') && event.open_for_comment? %>
		<p class="icon_gigs"><%= link_to event.commentable_title, "#new_comment" %></p>
		<% end %>
		<h2>You're coming</h2>
		<p>Share the gig with likeminded folk. Get together and make good happen in your hood.</p>
		<%
		if event.chapter.twitter_handle?
			@related_account = event.chapter.twitter_handle
		else 
			@related_account = 'g00dfornothing'
		end
		%>
		
		<div class="social-buttons">
		
			<div class="attending-tweet">
				<a href="https://twitter.com/share" class="twitter-share-button" data-related="@<%=@related_account%>" data-text="GFN: <%=event.chapter.title%> <%=event.title%> — are you attending? @<%=@related_account%>" data-lang="en" data-size="large" data-count="none">Tweet about it!</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		
			<div class="attending-fb">
			<iframe src="//www.facebook.com/plugins/like.php?href=http://<%=request.host+request.fullpath%>&amp;width&amp;layout=box_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=65&amp;" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:65px;" allowTransparency="true"></iframe>
			</div>
		</div>
			
		
		<p class="makeit">Can't make it anymore? <%= link_to "Just let us know.", attend_path(event.class.to_s.tableize, event) %></p>
		
	<% elsif event.slots.count == 1 && event.slots.first.skill.nil? %>
	
		<% if event.slots.first.available_slots > 0 %>
		<p class="cta"><%= link_to "I'm Coming!", attend_path(event.class.to_s.tableize, event, :slot => event.slots.first) %></p>
		<% else %>
		<h2>Oh no, we're full!</h2>
		<p>It looks like there are no tickets left, but don't worry, we'll make space available if anyone drops out, check again later!</p>
		<% end %>
		
	<% elsif event.slots.any? %>
		<h2>Register to attend</h2>
		<table class="registration_table">
			<thead>
				<tr>
					<th>Ticket</th>
					<th>Slots</th>
				</tr>
			</thead>
			<tbody>
				<% event.slots.each do |slot| %>
				<tr>
					<td><%= (slot.skill.present?) ? slot.skill.title : (slot.custom_skill.empty?) ? "Open to all" : slot.custom_skill %></td>
					<td><%= (slot.limit) ? slot.available_slots : "&#8734;".html_safe %></td>
					<% if slot.limit.nil? || slot.available_slots > 0 %>
					<td class="btn"><%= link_to "Attend", attend_path(event.class.to_s.tableize, event, :slot => slot) %></td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
	
<% end %>