<section id="primary_content" class="single">

	<% unless cookies[:i_want_to_start_doing_already] %>
	
	<div class="panel_full wiki_start">

		<h1>The Little Book of Good for Nothing</h1>
		<p>Respect for starting a GFN chapter, this is a place to find info you'll need to get going, it's a bit like Good for Nothing in a box.</p>
		<p>We want to support you as much as we can, and so have developed this place to do just that. There are a few things with GFN that are fixed, so we make that clear here. There is also some stuff that is flexible and some that's open; make it your own, rip, remix, hack it into your own flavour. </p>
		<p>Good for Nothing is a living thing, we're always in beta, so we are adding, developing, and positively mutating on an ongoing basis. We welcome your feedback, what works, what doesn't, learnings and ideas, so do other chapter leaders. If you have something to share, head over to the  <%= link_to "chapter leader's discussion group", "https://groups.google.com/forum/?fromgroups#!forum/good-for-nothing-crew" %>.</p>
		<p>If you've got any other questions that can't be answered there, get in touch with the <%= link_to "London crew", message_chapter_messaging_messages_path(Chapter.find('london')) %>, otherwise get stuck in below!</p>
		
		<p class="cta"><%= link_to "Ok, got it!", pages_path(:i_want_to_start_doing_already => true) %></p>
		
	</div>
	
	<% end %>
	
	<ol class="wiki_get_started">
		<li class="what"><%= link_to "What is Good for Nothing?", page_path('what-is-good-for-nothing') %></li>
		<li class="how"><%= link_to "How do I get started", page_path('getting-started') %></li>
		<li class="social format">
			<h3><%= link_to "Organising a social", page_path('socials') %></h3>
			<p>A social in a pub, bar or cafe is a cool and simple way to get people together around the GFN concept without too much time invested</p>
		</li>
		<li class="gig format">
			<h3><%= link_to "Putting on a gig", page_path('gigs') %></h3>
			<p>So you're ready to get doing. Good for Nothing gigs work well in 24 or 48 hr formats. We would recommend you start with 24 hrs.</p>
		</li>
	</ol>
	
	<% if @pages.any? %>

	<div id="wiki_page_list">
	
		<h2>The nitty-gritty</h2>
	
		<ul class="grid_list grid_four">
			<% @pages.each do |page| %>
				<li>
					<h3><%= link_to page.title, page_path(page) %></h3>
					<% unless page.description.nil? %>
					<p><%= page.description %></p>
					<% end %>
				</li>
			<% end %>
		</ul>
			
	</div>
	
	<% end %>
	
</div>