<section id="primary_content">

	<h1><%= @page.title %></h1>
	<%= sir_trevor_markdown(@page.body).html_safe %>
	
</section>

<aside id="secondary_content">
	
	<p class="cta"><%= link_to "Back to the start ", pages_path %></p>
		
	<% if @pages.any? %>
	
		<ul>
			<% @pages.each do |page| %>
			<li>
				<h3><%= link_to page.title, page_path(page) %></h3>
				<p><%= page.description %></p>
			</li>
			<% end %>
		</ul>
		
	<% end %>
	
</aside>