<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Good for Nothing partner request.</p>
    
	<p><strong>Name</strong>: <%= @submission.name %><br />
	<strong>Email</strong>: <%= @submission.contact %><br />
	<strong>Type of request</strong>: <%= @submission.purpose %></p>
	
	<p><strong>Notes</strong>: <br /><%= @submission.notes %></p>

	<p><%= link_to "Review it", hive_messaging_message_url(@submission.message) %> at the hive.</p>
  </body>
</html>