<div class="meta">

	<div class="compact avatar">
		<ul>
		<%= render :partial => "members/dumb_avatar", :locals => { :user => contribution.user } %>
		</ul>
	</div>
	
	
	<div class="author">
				
		<% if contribution.skill.title == "Code" %>
			<h3><span>A bit of code from</span> <%= contribution.user.name %></h3>
		<% elsif contribution.skill.title == "Design" %>
			<h3><span>Designs from</span> <%= contribution.user.name %></h3>
		<% elsif contribution.skill.title == "Think" %>
			<h3><span>Some thinking from</span> <%= contribution.user.name %></h3>
		<% end %>
		
		<% if signed_in_as_owner?(contribution) %>
			<p class="actions"><%= link_to "edit", edit_challenge_contribution_path(@challenge, contribution) %> or <%= link_to "delete", challenge_contribution_path(@challenge, contribution), :method => :delete, :confirm => "Are you sure you want to delete this contribution?" %></p>
		<% end %>
		
	</div>
	
	<%= link_to "Take a <br />look".html_safe, contribution.url, :class => "contribution_link" %>
	
</div>

<%= simple_format auto_link(contribution.description) %>

