<section id="primary_content" class="single">

	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "primary_panel" }) do |f| %>

		<h1><%= (params[:authfailure]) ? "The bit where you log in" : "Welcome back" %></h1>

		<% if params[:authfailure] %>
			<p class="form_arrow_down">Hi there, sorry to put a form in your way, but we need you to log in to continue, new members should <%= link_to "join the movement", register_path %> first, veteran Good for Nothingers can just pop their details in those boxes down <span>there</span></p>
		<% else %>
			<%= render "shared/notices" %>
		<% end %>

	  	<%= field_set_tag do %>
	    	<%= f.input :email, :required => false, :label => "Your email address", :input_html => { :autocomplete => "off" }, :wrapper_html => { :class => "smart_label" } %>
	    	<%= f.input :password, :required => false, :label => "Your password", :wrapper_html => { :class => "smart_label" }, :hint => (link_to "?", new_password_path(resource_name), :title => "Request a new password")%>
	    	<%= f.input :remember_me, :as => :hidden, :input_html => { :value => 1 } if devise_mapping.rememberable? %>
		<% end %>

		<%= link_to "Log in with Twitter", user_omniauth_authorize_path(:twitter) %><br />
		<%= link_to "Log in with Facebook", user_omniauth_authorize_path(:facebook) %>

		<%= field_set_tag do %>
	    	<%= f.button :submit, "Log me in" %>
		<% end %>

	<% end %>
	
</section>