<section id="primary_content" class="single">

	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

		<h1>Welcome back</h1>
	
	  	<%= field_set_tag do %>
	    	<%= f.input :email, :required => false, :label => "Your email address", :wrapper_html => { :class => "smart_label" } %>
	    	<%= f.input :password, :required => false, :wrapper_html => { :class => "smart_label" }, :hint => (link_to "?", new_password_path(resource_name), :title => "Request a new password")%>
	    	<%= f.input :remember_me, :as => :hidden, :input_html => { :value => 1 } if devise_mapping.rememberable? %>
		<% end %>

		<%= field_set_tag do %>
	    	<%= f.button :submit, "Sign in" %>

		<% end %>

	<% end %>
	
	
	
</section>