<div class="banner_text">
	
	<% if @chapter.chapter_title? %>	
		<h1><%=@chapter.chapter_title.html_safe%></h1>
		<% else %>
		<h1>Collaborating for Good in <%= @chapter.title.html_safe %></h1>		
	<% end %>
	
	<% if @chapter.chapter_description? %>	
		<p class="large">
			<%=@chapter.chapter_description%>
		</p>
		<% else %>
		<p class="large">
			Good for Nothing is a community of thinkers, do-ers, makers and tinkerers applying their skills and energy to accelerate the work of cause-led innovators and change makers; We're a diverse groups of people collaborating together, working in new, faster, fun and better ways by supporting ideas and communities.
		</p>
	<% end %>
	
		
</div>

<% if @chapter.cover_image?%>
	<%=image_tag(@chapter.cover_image)%>
<% end %>

<section id="primary_content">

	<% if @video_html %>	
		<h2>What we've been upto</h2>
		<%=@video_html.html_safe%>
	<% end %>

		
	<h2>
		Upcoming Gigs
	</h2>	
	<% if @upcoming_events.any? %>
	<ul class="grid_list">
		<% @upcoming_events.each do |event| %>
		<li class="note">
			<% if event.class == Gig %>
				<%= render :partial => "gigs/block", :locals => { :gig => event } %>
			<% elsif %>
				<%= render :partial => "socials/block", :locals => { :social => event } %>
			<% end %>
		</li>
		<% end %>
	</ul>
	<% else %>
	<p>
		We haven't got anything in the diary yet but please <%=link_to("message us", message_chapter_messaging_messages_path(@chapter))%> to submit your project or challenge and we can chat about doing a gig!
	</p>
	<% end %>
	
	<% if @previous_events.any? %>
	<h2>
		Been 'n' gone
	</h2>
	<ul class="grid_list">
		<% @previous_events.each do |event| %>
		<li class="note">
			<% if event.class == Gig %>
				<%= render :partial => "gigs/block", :locals => { :gig => event } %>
			<% elsif %>
				<%= render :partial => "socials/block", :locals => { :social => event } %>
			<% end %>
		</li>
		<% end %>
	</ul>
	<p class="cta" id="more-past-events"><a href="/gigs">View all past GFN events</a></p>
	<% end%>
	
	
	<% if @warblings.any? %>
	
	<div class="issue_grid">	
	
	<h2>
		Recent Posts
	</h2>
	
		<% @warblings.in_groups_of(3, false).each do |group| %>
		<ul class="grid_list grid_three">
		    <div class="three-wrapper">
		      <% group.each_with_index do |update,index| %>
			  <% if (index == 2)%>
	  			<li class="end">		
					<% else %>
				<li>
				<% end %>
	  				<% unless update.hero_image.url.nil? %>
	  					<%=  image_tag update.hero_image.thumbnail, :class => "hero" %>
	  				<% end %>
	  				<p><%= link_to truncate(update.title, :length => 40), post_path(update) %></p>
	  			</li>
		      <% end %>
		  </div>
		  </ul>
		<% end %>

	</div>
	<% end %>

	<% if @chapter.friends.any? %>
		<div id="friends">
			<h2>Our Friends</h2>
			<div>
				<ul class="grid_list">
					<% @chapter.friends.each do |friend| %>
						<li>
							<% if friend.logo.present? %>
								<%= link_to image_tag(friend.logo, :alt => friend.name), friend.url %>
							<% else %>
								<%= link_to(friend.name, friend.url, :class => "logo") %>
							<% end %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	<% end %>
	
</section>


<aside id="secondary_content">

	
	<% if !user_signed_in? %>
		<div class='become-chapter-member'>
			<%= link_to "Become a member", register_path %> in <%=@chapter.title%> or <%= link_to "Login", login_path %>
		</div>
	<% end %>

	<h2>Contact us</h2>


	<% if @chapter.bird_image? %>
		<%=image_tag(@chapter.bird_image, :class => "contact-bird-image")%>
	<% end %>

	<div class="gfn-contact-info-wrapper">
		<div class="gfn-contact-info">
			<p>
			<%=link_to("Send us a message", message_chapter_messaging_messages_path(@chapter))%><br />
			<%=link_to("Submit a challenge", message_challenge_messaging_challenges_path(@chapter))%><br />
		</div>
	</div>

	<% if @chapter.twitter_handle? %>
	<a href="https://twitter.com/<%=@chapter.twitter_handle.gsub('@', '')%>"><%=@chapter.twitter_handle%> on Twitter</a> <br />
	<% end %>
	<%=@chapter.slug %>@goodfornothing.com</p>
	


		
	<% if @chapter.twitter_handle? %>
	<h2>Follow us on Twitter</h2>

	<a class="twitter-timeline" href="https://twitter.com/<%=@chapter.twitter_handle.gsub('@', '')%>"
	   data-widget-id="426403296442462208"
	   data-screen-name="<%=@chapter.twitter_handle.gsub('@', '')%>" data-show-replies="false"
	   data-tweet-limit="5"><%=@chapter.twitter_handle.gsub('@', '')%></a>

	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	
	<% end %>
		
	<% if @chapter.users.crew.any? %>	
	<h2><%= @chapter.title.html_safe %> Crew</h2>	
	<ul class="avatar_list">
		<% @chapter.users.crew.each do |user| %>
			<%= render :partial => "members/avatar", :locals => { :member => user }%>
		<% end %>
	</ul>
	<% end %>	
	
	<% if @chapter.users.any? %>		
	<h2><%= @chapter.title.html_safe %> Community</h2>
	
	<p><%=@chapter.users.count %> GFNers</p>	
	<ul class="avatar_list">
		<% @chapter.users.limit(15).each do |user| %>
			<%= render :partial => "members/avatar", :locals => { :member => user }%>
		<% end %>
	</ul>
	<% end %>
	
</aside>