<div class="challenge_panel">
	
	<h2><%= link_to((index+1).to_s + ". " + challenge.title, challenge_path(challenge)) %></h2>
	
	<% if challenge.issues.any? %>
		<% issue = challenge.issues.first %>
		<%= link_to (image_tag issue.icon.small), issue_challenges_path(issue), :class => "issue_tip", :title => issue.title %>
	<% end %>
	
	<% if challenge.comments.any? || challenge.contributions.any? %>
	<p class="challenge_stats">
		<span>q</span> <%= "#{pluralize(challenge.comments.count,'Idea')}" %> <span>4</span> <%= "#{pluralize(challenge.contributions.count,'Contribution')}" %>
	</p>
	<% end %>
	
	<% if challenge.venture %>
		<%= "<p class='cause'>For #{challenge.venture.name}</p>".html_safe  %>
	<% elsif challenge.partner.present? %>
		<p class='cause'><%= "In partnership with #{challenge.partner.name}"%></p>
	<% end %>
	
</div>