<section id="primary_content">
	
	<h1>Challenges</h1>
	
	<h2>Filter by issue</h2>
	<ul>
		<% @warblings.each do |warbling| %>
		<li><%= link_to warbling.title, warbling_challenges_path(warbling) %></li>
		<% end %>
	</ul>
	
	<% if @challenges.any? %>
		<h2>Open challenges</h2>
		<ul>
		<% @challenges.each do |challenge| %>
			<li><%= link_to challenge.title, challenge_path(challenge) %> <%= "for #{challenge.cause}" unless challenge.cause.nil? %></li>
		<% end %>
		</ul>
	<% end %>
		
</section>

<aside id="secondary_content">
	
	<p class="cta"><%= link_to "Submit a challenge", new_challenge_path %></p>
	
	<h2>GFN calendar</h2>
	<p>Meet face to face, work on challenges together</p>
	<p><%= link_to "Calendar", calendar_path %></p>
	
</aside>