<section id="primary_content">
	
	<h1>
		<% if @warbling %>
		<%= @warbling.title %> challenges
		<% else %>
		Challenges that matter
		<% end %>
	</h1>

	<div class="abstract">
		<p>Good for Nothing is about collaborating and experimenting to create disruptive solutions to some of the biggest issues of our time. Most of these experiments take the form of challenges; some of which will be tackled at gigs, some with groups of your friends or colleagues, some over a cuppa'&hellip;</p>
		<p>In short, it's up to you to decide how you want to get stuck in; once you are, share your ideas and contributions on the challenge page to help guide your fellow GFNers on the same mission.</p>
	</div>
	
	<% if @open_challenges.any? %>
		<% @open_challenges.each do |challenge| %>
			<%= render :partial => "challenges/block", :locals => { :challenge => challenge } %>
		<% end %>
	<% end %>
		
</section>

<aside id="secondary_content">
	<% if @warbling %>
	<p class="icon_gigs"><%= link_to "Check out all<br/>challengess".html_safe, challenges_path %></p>
	
	<% else %>	
	<p class="icon_gigs"><%= link_to "Take it offline<br />at gigs &amp; socials".html_safe, calendar_path,  :class => "tip", :title => "Check out the calendar" %></p>
	<% end %>
	<!--<ul class="filter_list">	
		<% @warblings.each do |warbling| %>
		<li class="warbling_small small_warbling_<%= warbling.slug.underscore %>"><%= link_to warbling.title, warbling_challenges_path(warbling) %></li>
		<% end %>
	</ul>-->	
</aside>