<section id="primary_content">
	
	<h1>Challenges that matter</h1>

	<p>Good for Nothing is about collaborating on challenges to create disruptive solutions to some of the uber issues of our time. Some challenges will be tackled at gigs, some with small groups of collaborators, some over a cuppa or an email exchange, some with your colleagues&hellip;</p>
	<p>In short, it's up to you to decide how you want to get stuck in, just be sure to share your ideas and contributions on the challenge page to guide others who may be doing the same.</p>
	
	<% if @open_challenges.any? %>
		<ul>
		<% @open_challenges.each do |challenge| %>
			<li><%= link_to challenge.title, challenge_path(challenge) %> <%= "for #{challenge.cause}" unless challenge.cause.nil? %></li>
		<% end %>
		</ul>
	<% end %>
	
	<% if @closed_challenges.any? %>
		<h2>Closed challenges</h2>
		<ul>
		<% @closed_challenges.each do |challenge| %>
			<li><%= link_to challenge.title, challenge_path(challenge) %> <%= "for #{challenge.cause}" unless challenge.cause.nil? %></li>
		<% end %>
		</ul>
	<% end %>
		
</section>

<aside id="secondary_content">	

	
	<ul class="filter_list">
		<% @warblings.each do |warbling| %>
		<li class="warbling_small small_warbling_<%= warbling.slug.underscore %>"><%= link_to warbling.title, warbling_challenges_path(warbling) %></li>
		<% end %>
	</ul>
	
</aside>