<section id="primary_content" class="single">
	
	<%= simple_form_for [@challenge] do |f| %>
  
		<h1>Submit a challenge</h1>

		<%= field_set_tag nil do %>
			<%= f.input :title %>
			<%= f.input :description %>
		<% end %>

		<%= field_set_tag nil, :class => "actions" do %>
			<%= f.submit :value => "Submit" %>	
		<% end %>
	
	<% end %>
	
</section>