<section id="primary_content" class="single">
	
	<%= simple_form_for [@challenge] do |f| %>
  
		<h1>Submit a challenge</h1>

		<p>Something about how we handle challenge requests, why we don't allow people to just post them directly.</p>

		<%= field_set_tag do %>
			<%= f.input :title, :label => "Your name", :wrapper_html => { :class => "smart_label" } %>
			<%= f.input :description, :label => "Summarise your challenge", :wrapper_html => { :class => "smart_label" }, :input_html => { :rows => 10 } %>
		<% end %>

		<%= field_set_tag nil, :class => "actions" do %>
			<%= f.submit :value => "Submit" %>	
		<% end %>
	
	<% end %>
	
</section>