<section id="primary_content">
	
	<article class="event challenge_event">
	
		<h1><%= @challenge.title %></h1>
	
		<% if @challenge.venture.present? || @challenge.partner.present? %>
		
		<div class="abstract">
			
			<% if @challenge.venture.present? %>
				<p class="meta"><span>Venture:</span> <%= link_to @challenge.venture.name, @challenge.venture.url %></p>
			<% end %>
		
			<% if @challenge.partner.present? %>
				<p class="meta"><span>Challenge partner:</span> <%= link_to @challenge.partner.name, @challenge.partner.url %></p>
			<% end %>
		
		</div>
		
		<% end %>
		
		<%= markdown.render(@challenge.description).html_safe unless @challenge.description.nil? %>
	
	</article>
	
	<% if @challenge.open? && !user_signed_in? %>
	
		<h2 id="new_idea">How can I help?</h2>
		<p>You can make a start on this challenge simply by contributing ideas, or get stuck right in and share your work with the community here. <%= link_to "Login", login_path(:next => challenge_path(@challenge)) %> or <%= link_to "become a member", register_path(:next => challenge_path(@challenge)) %> to get started!</p>
		
	<% else %>
	
		<div class="panel_forms">
			<h2>This challenge is open to all</h2>
			<p>Contribute in any way you can; share an idea or just get stuck in to the brief yourself &ndash; maybe team up with some colleagues too &ndash; then come back share your work with the community.</p>
			<%= render :partial => "ideas/form" %>
			<%= render :partial => "contributions/form" %>
		</div>
	
	<% end %>
	
	<ul class="contributions" id="contributions">
		<% if @user_content.any? %>
			<% @user_content.each do |user_content| %>
				<li class="contribution">
					<% if user_content.class == Contribution %>
						<%= render :partial => "contributions/block", :locals => { :contribution => user_content } %>
					<% elsif user_content.class == Idea %>
						<%= render :partial => "ideas/block", :locals => { :idea => user_content } %>
					<% end %>
				</li>
			<% end %>
		<% end %>
	</ul>
	
</section>

<aside id="secondary_content">
	
	<p class="icon_gigs"><a href="#new_idea">Share your ideas, <br />get stuck in!</a></p>
	
	<% if @challenge.gig.present? %>	
	
		<% unless @challenge.gig.past? %>
		<h2>Take it offline</h2>
		<p class="block">This challenge will be tackled at a gig on the <%= "#{@challenge.gig.start_time.day.ordinalize} of #{@challenge.gig.start_time.strftime('%B')}".html_safe %> in <%= @challenge.gig.chapter.title %>, <%= link_to "come join us!", gig_path(@challenge.gig) %></p>
		<% end %>
	
	<% end %>
	
	<% if @challenge.team.any? %>
	<h2>Thinkers &amp; Contributors</h2>
	<ul class="avatar_list">
	<% @challenge.team.each do |user| %>
		<%= render :partial => "members/avatar", :locals => { :member => user }%>
	<% end %>
	</ul>
	<% end %>
	
	<% if @challenge.bookmarks.any? %>
	
	<h2>Inspirations</h2>
	<ul>
	<% @challenge.bookmarks.each do |bookmark| %>
		<li><%= link_to truncate(bookmark.title, :length => 80, :omission => '&hellip;').html_safe, bookmark.url %></li>
	<% end %>
	</ul>
		
	<% end %>
	
</aside>
	
	
	
	