<section id="primary_content">
	
	<article class="event challenge_event">
	
		<h1><%= @challenge.title %></h1>
	
		<% if @challenge.venture.present? || @challenge.partner.present? %>
		
		<div class="abstract">
			
			<% if @challenge.venture.present? %>
				<p class="meta"><span>Venture:</span> <%= link_to @challenge.venture.name, @challenge.venture.url %></p>
			<% end %>
		
			<% if @challenge.partner.present? %>
				<p class="meta"><span>Challenge partner:</span> <%= link_to @challenge.partner.name, @challenge.partner.url %></p>
			<% end %>
		
		</div>
		
		<% end %>
		
		<%= markdown.render(@challenge.description).html_safe unless @challenge.description.nil? %>
	
		<%= render "shared/notices" %>
	
		<% if @challenge.open? && !user_signed_in? %>
		<p><%= link_to "Login", login_path(:next => challenge_path(@challenge)) %> or <%= link_to "Join the community", register_path(:next => challenge_path(@challenge)) %> to share your ideas or contribute to the challenge.</p>
		<% end %>
	
	</article>
	
	<div class="form_panel">
		<h2>Ideas</h2>
		
		<% if user_signed_in? && @challenge.open? %>
			<%= render :partial => "ideas/form", :locals => { :idea => @idea } %>	
		<% elsif user_signed_in? && !@challenge.open? %>
			<p>This challenge is closed, thanks for all your Good!</p>
		<% end %>
	
		<% if @challenge.ideas.any? %>
		<ul>
			<% @challenge.ideas.each do |idea| %>
			<li>
				<h3>From <%= idea.user.name %></h3>
				<p><%= idea.body %></p>
				<% if signed_in_as_owner?(idea) %>
				<ul class="actions">
					<li><%= link_to "Edit", edit_challenge_idea_path(@challenge, idea) %></li>
					<li><%= link_to "Delete", challenge_idea_path(@challenge, idea), :method => :delete %></li>	
				</ul>
				<% end %>
			</li>
			<% end %>
		</ul>
		<% end %>
		
	</div>
	
	<div class="form_panel">
		<h2>Contributions</h2>
	
		<% if user_signed_in? && @challenge.open?%>
			<%= render :partial => "contributions/form", :locals => { :contribution => @contribution } %>
		<% elsif user_signed_in? && !@challenge.open? %>
			<p>This challenge is closed, thanks for all your Good!</p>
		<% end %>
	
		<% if @challenge.contributions.any? %>
	
		<ul>
			<% @challenge.contributions.each do |contribution| %>
			<li>
				<h3>From <%= contribution.user.name %></h3>
				<p><%= contribution.skill.title %></p>
				<p><%= link_to contribution.url, contribution.url %></p>
				<p><%= contribution.description %></p>
				<% if signed_in_as_owner?(contribution) %>
				<ul class="actions">
					<li><%= link_to "Edit", edit_challenge_contribution_path(@challenge, contribution) %></li>
					<li><%= link_to "Delete", challenge_contribution_path(@challenge, contribution), :method => :delete %></li>	
				</ul>
				<% end %>
			</li>
			<% end %>
		</ul>
		<% end %>
		
	</div>
		
</section>

<aside id="secondary_content">
	
	<% if @challenge.gig.present? %>	
	
		<% unless @challenge.gig.past? %>
		<p class="icon_attend">
			<%= link_to "Attend the gig", gig_path(@challenge.gig) %>
		</p>
		<% end %>
	
	<% end %>
	
	<% if @challenge.team.any? %>
	<h2>Thinkers &amp; Contributors</h2>
	<% @challenge.team.each do |user| %>
		<%= render :partial => "members/avatar", :locals => { :member => user }%>
	<% end %>
	<% end %>

	<% if @challenge.bookmarks.any? %>
	
	<h2>Inspirations</h2>
	<% @challenge.bookmarks.each do |bookmark| %>
		<li><%= link_to truncate(bookmark.title, :length => 80, :omission => '&hellip;').html_safe, bookmark.url %></li>
	<% end %>
		
	<% end %>
	
</aside>
	
	
	
	