<section id="primary_content">
	
	<h1><%= @challenge.title %></h1>
	
	<%= markdown.render(@challenge.description).html_safe unless @challenge.description.nil? %>
	
	<% unless @challenge.open? %>
		<p>This challenge is closed, thanks for all your Good</p>
	<% end %>
	
	<p>All about <%= @challenge.warblings.map{ |w| (link_to w.title.downcase, warbling_challenges_path(w)) }.join(', ').html_safe %></p>
	
	<h2>Ideas</h2>
	<% if @challenge.ideas.any? %>
	<ul>
		<% @challenge.ideas.each do |idea| %>
		<li>
			<h3>From <%= idea.user.name %></h3>
			<p><%= idea.body %></p>
			<% if signed_in_as_owner?(idea) %>
			<ul class="actions">
				<li><%= link_to "Edit", edit_challenge_idea_path(@challenge, idea) %></li>
				<li><%= link_to "Delete", challenge_idea_path(@challenge, idea), :method => :delete %></li>	
			</ul>
			<% end %>
		</li>
		<% end %>
	</ul>
	<% end %>
	
	<% if user_signed_in? && @challenge.open? %>
		<%= render :partial => "ideas/form", :locals => { :idea => @idea } %>	
	<% end %>
	
	<h2>Contributions</h2>
	
	<% if @challenge.contributions.any? %>
	<ul>
		<% @challenge.contributions.each do |contribution| %>
		<li>
			<h3>From <%= contribution.user.name %></h3>
			<p><%= contribution.skill.title %></p>
			<p><%= link_to contribution.url, contribution.url %></p>
			<p><%= contribution.description %></p>
			<% if signed_in_as_owner?(contribution) %>
			<ul class="actions">
				<li><%= link_to "Edit", edit_challenge_contribution_path(@challenge, contribution) %></li>
				<li><%= link_to "Delete", challenge_contribution_path(@challenge, contribution), :method => :delete %></li>	
			</ul>
			<% end %>
		</li>
		<% end %>
	</ul>
	<% end %>
	
	<% if user_signed_in? && @challenge.open?%>
		<%= render :partial => "contributions/form", :locals => { :contribution => @contribution } %>
	<% end %>
	
	<% if @challenge.open? && !user_signed_in? %>
	<p><%= link_to "Login", login_path(:next => challenge_path(@challenge)) %> or <%= link_to "Join the community", register_path %> to share your ideas or contribute to the challenge.</p>
	<% end %>
		
</section>

<aside id="secondary_content">
	
	<% if @challenge.venture.present? %>
		<h2>Venture</h2>
		<p><%= @challenge.venture.name %></p>
	<% end %>
	
	<% if @challenge.gig.present? %>	
	
		<% if @challenge.gig.partner.present? %>
		<h2>Challenge partner</h2>
		<p><%= @challenge.gig.partner.name %></p>
		<% end %>
	
		<% unless @challenge.gig.past? %>
		<p>Join us for <%= link_to @challenge.gig.title, gig_path(@challenge.gig) %> on the <strong><%= @challenge.gig.start_time.day.ordinalize %> to the <%= @challenge.gig.end_time.day.ordinalize %></strong> of <%= @challenge.gig.start_time.strftime('%B') %> in <%= @challenge.gig.chapter.title %></p>
		<p class="cta"><%= link_to "attend the gig", gig_path(@challenge.gig) %></p>
		<% end %>
	
	<% end %>
	
	<% if @challenge.bookmarks.any? %>
		<h2>Inspirations</h2>
		<% @bookmarks = @challenge.bookmarks %>
		<%= render :partial => "bookmarks/list" %>
	<% end %>
	
</aside>