<section id="primary_content">
	<h2><%= @challenge.title %></h2>
	<%= simple_format @challenge.description %>
</section>

<aside id="secondary_content">
	
	<% if @challenge.gig.present? %>
	<h2>Gig</h2>
	<p><%= link_to @challenge.gig.title, gig_path(@challenge.gig) %></p>
	<% end %>
	
	<% if @challenge.venture.present? %>
	<h2>Venture</h2>
	<p><%= @challenge.venture.name %></p>
	<% end %>
	
	
	<% if @challenge.bookmarks.any? %>
	<h2>Inspiration</h2>
	<% @bookmarks = @challenge.bookmarks %>
	<%= render :partial => "bookmarks/list" %>
	<% end %>
	
</aside>