<section id="primary_content">
	
	<%= image_tag "branding/print_logo.gif", :class => "print", :alt => "Good for Nothing" %>
	
	<article class="event challenge_event">
	
		<h1><%= @challenge.title %></h1>
	
		<% if @challenge.venture.present? || @challenge.partner.present? || @challenge.gig.present? %>
		
		<div class="abstract">
			
			<% if @challenge.venture.present? %>
				<p class="meta"><span>Venture:</span> <%= link_to @challenge.venture.name, @challenge.venture.url %></p>
			<% end %>
		
			<% if @challenge.partner.present? %>
				<p class="meta"><span>Challenge partner:</span> <%= link_to @challenge.partner.name, @challenge.partner.url %></p>
			<% end %>
			
			<% if @challenge.gig.present? && !@challenge.gig.past? %>	
				<p class="meta"><span>Attend the Gig:</span> Tackle this challenge offline on <%= link_to ("#{@challenge.gig.start_time.day.ordinalize} of #{@challenge.gig.start_time.strftime('%B')} in #{@challenge.gig.chapter.title}".html_safe), gig_path(@challenge.gig) %> </p>
			<% end %>
		
		</div>
		
		<% end %>
		
		<% unless @challenge.description.nil? %>
			<% if @challenge.description.is_json? %>
				<%= render_sir_trevor(@challenge.description) %>
			<% else %>
				<%= sir_trevor_markdown(@challenge.description).html_safe %>
			<% end %>
		<% end %>
		
	</article>

	<a id="help"></a>
	
	<% if (@challenge.open? || @challenge.open_to_contributions?) && !user_signed_in? %>
	
		<h2>How can I help?</h2>
		<p>You can make a start on this challenge simply by contributing ideas, or get stuck right in and share your work with the community here. <%= link_to "Login", login_path(:next => challenge_path(@challenge)) %> or <%= link_to "become a member", register_path(:next => challenge_path(@challenge)) %> to get started!</p>
		
	<% else %>
	
		<div class="panel_forms">
			
			<% if (@challenge.open? && @challenge.open_to_contributions?) %>
			<h2>This challenge is open to all</h2>
			<p>Contribute in any way you can; share an idea or just get stuck in to the brief &ndash; maybe team up with some colleagues? &ndash; then come back share your work with the community.</p>
			<% end %>
			
			<%= render :partial => "ideas/form" if @challenge.open? %>
			<%= render :partial => "contributions/form" if @challenge.open_to_contributions? %>
		</div>
	
	<% end %>
	
	<ul class="contributions" id="contributions">
		<% if @user_content.any? %>
			<% @user_content.each do |user_content| %>
				<li class="contribution">
					<% if user_content.class == Contribution %>
						<%= render :partial => "contributions/block", :locals => { :contribution => user_content } %>
					<% elsif user_content.class == Idea %>
						<%= render :partial => "ideas/block", :locals => { :idea => user_content } %>
					<% end %>
				</li>
			<% end %>
		<% end %>
	</ul>
	
</section>

<aside id="secondary_content">
	
	<p class="icon_gigs"><a href="#help">Share your ideas <br />and contributions!</a></p>
	
	<div id="collaborators">
		<div>
		<h2>Collaborators</h2>
	
		<% if @challenge.team.any? %>
		<ul class="avatar_list">
		<% @challenge.team.each do |user| %>
			<%= render :partial => "members/avatar", :locals => { :member => user }%>
		<% end %>
		</ul>
		<% end %>
	
		<% if user_signed_in? && @challenge.users.include?(current_user)%>
		<p>You're working on this challenge! You'll receive email notifications when your fellow collaborators post ideas, contributions or meet-up requests.</p>
		<p class="more"><%= link_to "Leave challenge", subscribe_challenge_path(@challenge) %></p>
		<% elsif user_signed_in? %>
		<p>Join this challenge if you'd like to get stuck in! We'll then drop you an email when other collaborators share their work, ideas or are looking to create a meet-up to do some Good for Nothing.</p>
		<p class="more"><%= link_to "Join challenge", subscribe_challenge_path(@challenge) %></p>
		<% end %>
		</div>
	</div>
	
</aside>
	
	
	
	