<section id="primary_content">
	
	<h1><%= @challenge.title %></h1>
	
	<%= markdown.render(@challenge.description).html_safe unless @challenge.description.nil? %>
	
	<% if @challenge.bookmarks.any? %>
	
		<h2>Inspirations</h2>
		<% @challenge.bookmarks.each do |bookmark| %>
			<li><%= link_to truncate(bookmark.title, :length => 80, :omission => '&hellip;').html_safe, bookmark.url %></li>
		<% end %>
		
	<% end %>
	
	<%= render "shared/notices" %>
	
	<% if @challenge.open? && !user_signed_in? %>
	<p><%= link_to "Login", login_path(:next => challenge_path(@challenge)) %> or <%= link_to "Join the community", register_path(:next => challenge_path(@challenge)) %> to share your ideas or contribute to the challenge.</p>
	<% end %>
	
	<div class="panel">
		<h2>Ideas</h2>
	
		<% if @challenge.ideas.any? %>
		<ul>
			<% @challenge.ideas.each do |idea| %>
			<li>
				<h3>From <%= idea.user.name %></h3>
				<p><%= idea.body %></p>
				<% if signed_in_as_owner?(idea) %>
				<ul class="actions">
					<li><%= link_to "Edit", edit_challenge_idea_path(@challenge, idea) %></li>
					<li><%= link_to "Delete", challenge_idea_path(@challenge, idea), :method => :delete %></li>	
				</ul>
				<% end %>
			</li>
			<% end %>
		</ul>
		<% end %>

		<% if user_signed_in? && @challenge.open? %>
			<%= render :partial => "ideas/form", :locals => { :idea => @idea } %>	
		<% elsif user_signed_in? && !@challenge.open? %>
			<p>This challenge is closed, thanks for all your Good!</p>
		<% end %>
		
	</div>
	
	<div class="panel">
		<h2>Contributions</h2>
	
		<% if @challenge.contributions.any? %>
	
		<ul>
			<% @challenge.contributions.each do |contribution| %>
			<li>
				<h3>From <%= contribution.user.name %></h3>
				<p><%= contribution.skill.title %></p>
				<p><%= link_to contribution.url, contribution.url %></p>
				<p><%= contribution.description %></p>
				<% if signed_in_as_owner?(contribution) %>
				<ul class="actions">
					<li><%= link_to "Edit", edit_challenge_contribution_path(@challenge, contribution) %></li>
					<li><%= link_to "Delete", challenge_contribution_path(@challenge, contribution), :method => :delete %></li>	
				</ul>
				<% end %>
			</li>
			<% end %>
		</ul>
		<% end %>
	
		<% if user_signed_in? && @challenge.open?%>
			<%= render :partial => "contributions/form", :locals => { :contribution => @contribution } %>
		<% elsif user_signed_in? && !@challenge.open? %>
			<p>This challenge is closed, thanks for all your Good!</p>
		<% end %>
		
	</div>
		
</section>

<aside id="secondary_content">
	
	<% if @challenge.partner.present? %>
		<h2>Partner</h2>
		<% if @challenge.partner.logo.present? %>
			<%= link_to(image_tag(@challenge.partner.logo, :alt => @challenge.partner.name), @challenge.partner.url) %>
		<% else %>
			<%= link_to(@challenge.partner.name, @challenge.partner.url, :class => "logo") %>
		<% end %>
	<% end %>
	
	<% if @challenge.venture.present? %>
		<h2>Venture</h2>
		<% if @challenge.venture.logo.present? %>
			<%= link_to(image_tag(@challenge.venture.logo, :alt => @challenge.venture.name), @challenge.venture.url) %>
		<% else %>
			<%= link_to(@challenge.venture.name, @challenge.venture.url, :class => "logo") %>
		<% end %>
	<% end %>
	
	<% if @challenge.gig.present? %>	
	
		<% unless @challenge.gig.past? %>
		<p>
			Join us for <%= link_to @challenge.gig.title, gig_path(@challenge.gig) %> <%= "in collaboration with #{@challenge.gig.partner.name}" if @challenge.gig.partner.present? %> on the 
			<strong><%= @challenge.gig.start_time.day.ordinalize %> to the <%= @challenge.gig.end_time.day.ordinalize %></strong> of <%= @challenge.gig.start_time.strftime('%B') %> 
			in <%= @challenge.gig.chapter.title %>
		</p>
		<p class="cta"><%= link_to "attend the gig", gig_path(@challenge.gig) %></p>
		<% end %>
	
	<% end %>
	
	<h2>Working on it</h2>
	people list
	
</aside>
	
	
	
	