<article class="post post_list">
	
	<time><%= post.created_at.to_formatted_s(:article) %></time>
	<% if post.body.blank? %>
		<h2><%= post.title %></h2>
	<% else %>
		<h2><%= link_to post.title, post_path(post) %></h2>
	<% end %>
	
	<% unless post.hero_image.url.nil? %>
		<%= link_to (image_tag post.hero_image, :class => "hero"), post_path(post) %>
	<% end %>

	<%= md.render(post.excerpt).html_safe %>
	
</article>