<section id="primary_content" class="single">

	<h1>Good for Nothing Goings On</h1>
		
	<% if @updates.any? %>
	
		<% @updates.each do |post| %>
			<article class="post post_list">
				
				<time><%= post.created_at.to_formatted_s(:article) %></time>
				<% if post.body.blank? %>
					<h2><%= post.title %></h2>
				<% else %>
					<h2><%= link_to post.title, post_path(post) %></h2>
				<% end %>
				
				<% unless post.hero_image.url.nil? %>
					<%= link_to (image_tag post.hero_image, :class => "hero"), post_path(post) %>
				<% end %>

				<%= markdown.render(post.excerpt).html_safe %>
			</article>
		<% end %>
	
	<% end %>
	
	<p class="cta strong"><%= link_to "More Warblings", warblings_path %></p>
			
</section>