<section id="primary_content">
	<h1><%= @chapter.title if @chapter.present? %> Gigs</h1>
	
	<% if @gigs.any? %>
		<% @gigs.each do |gig| %>
			<h2><%= gig.title %></h2>
			<% if gig.start_time && gig.end_time %>
			<time><%= gig.start_time.to_formatted_s(:long_ordinal) %> - <%= gig.end_time.to_formatted_s(:long_ordinal) %></time>
			<% end %>
			<p><%= link_to "Find out more and read the briefs", gig_path(gig) %></p>
		<% end %>
	<% else %>
		<p>Ain't no gigs at the moment.</p>
	<% end %>
	
</section>

<aside id="secondary_content">
	<% if @chapters.any? %>
	<h2>Chapters</h2>
	<ul>
		<li><%= link_to "All gigs", gigs_path %></li>
		<% @chapters.each do |chapter| %>
		<li><%= link_to chapter.title, chapter_gigs_path(chapter.slug) %></li>
		<% end %>
	</ul>
	<% end %>
</aside>