<section id="primary_content">
	
	<h1><%= @gig.title %></h1>
	<% if @gig.start_time && @gig.end_time %>
	<time><%= @gig.start_time.to_formatted_s(:long_ordinal) %> - <%= @gig.end_time.to_formatted_s(:long_ordinal) %></time>
	<% end %>	<%= simple_format @gig.description %>
	<% if @gig.briefs.any? %>
		<h1>The briefs</h1>
		<% @gig.briefs.each do |brief| %>
		<article>
			<h2><%= brief.title %></h2>
			<%= markdown.render(brief.description).html_safe %>
		</article>
		<% end %>
	<% end %>
	
</section>

<aside id="secondary_content">
	
	<% if user_signed_in? && current_user.is_attending?(@gig) %>
		<h2>You're attending this gig</h2>
		<p>You've signed up for this gig, please let us know if you can no longer make it.</p>
		<p><%= link_to "Can no longer attend", attend_gig_path(@gig) %></p>
	<% elsif @gig.slots.count == 1 && @gig.slots.first.skill.nil? %>
		<h2>Attend gig</h2>
		<p>This gig is open to all.</p> 
		<p><%= link_to "Attend", attend_gig_path(@gig, :slot => @gig.slots.first) %></p>
	<% elsif @gig.slots.any? %>
		<h2>Attend gig</h2>
		<table>
			<thead>
				<tr>
					<td>Skill</td>
					<td>Slots</td>
				</tr>
			</thead>
			<tbody>
				<% @gig.slots.each do |slot| %>
				<tr>
					<td><%= (slot.skill.present?) ? slot.skill.title : "Open to all" %></td>
					<td><%= (slot.limit) ? slot.available_slots : "Unlimited" %></td>
					<% if slot.limit.nil? || slot.available_slots > 0 %>
					<td><%= link_to "Attend", attend_gig_path(@gig, :slot => slot) %></td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
	
	<% if @attendees.any? %>
		<h2>Who<%= (user_signed_in? && current_user.is_attending?(@gig) ? " else is" : "'s") %> coming?</h2>
		<ul>
			<% @attendees.each do |user| %>
			<li><%= link_to user.name, member_path(user) %></li>
			<% end %>
		</ul>
	<% end %>
	
	<% if @gig.bookmarks.any? %>
		<h2>Resources and Inspiration</h2>
		<ul>
			<% @gig.bookmarks.each do |bookmark| %>
			<li><%= link_to bookmark.title, bookmark.url %></li>
			<% end %>
		</ul>
	<% end %>
	
</aside>