<section id="primary_content">
	
	<article class="event">
	
		<h1><%= @gig.title %></h1>
		
		<div class="abstract">
			<% if @gig.start_time && @gig.end_time %><p class="meta"><span>When?</span> <%= @gig.start_time.to_formatted_s(:long_ordinal) %> &rarr; <%= @gig.end_time.to_formatted_s(:long_ordinal) %></time><% end %>
			<p class="meta"><span>Who?</span> Organised by the <%= @gig.chapter.title %> crew<%= " in partnership with #{link_to @gig.partner.name, @gig.partner.url}".html_safe unless @gig.partner.nil? %></p>
			<% if @gig.location? %><p class="meta"><span>Where?</span> <%= link_to @gig.location, "https://maps.google.co.uk/maps?q=#{@gig.location},+%20#{@gig.chapter.title}" %></p><% end %>
		</div>	
		
		<% unless @gig.description.nil? %>
			<% if @gig.description.is_json? %>
			<%= render_sir_trevor(@gig.description) %>
			<% else %>
			<%= simple_format(@gig.description).html_safe %>
			<% end %>
		<% end %>
			
	</article>
	
	<div id="challenges">
	<% if @gig.challenges.any? %>

		<% @gig.challenges.each do |challenge| %>
			<%= render :partial => "challenges/block", :locals => { :challenge => challenge } %>
		<% end %>
	
	<% end %>
	</div>
	
</section>

<aside id="secondary_content">
	
	<%= render :partial => "events/attend", :locals => { :event => @gig } %>
	<%= render :partial => "events/attendees", :locals => { :attendees => @gig.attendees }%>
	
</aside>