<section id="primary_content">
	
	<h1><%= @gig.title %></h1>
	<p><strong><%= @gig.start_time.to_formatted_s(:long_ordinal) %> - <%= @gig.end_time.to_formatted_s(:long_ordinal) %></strong></p>
	<%= simple_format @gig.description %>
	
	<% if @gig.briefs.any? %>
		<h2>The briefs</h2>
		<% @gig.briefs.each do |brief| %>
		<article>
			<h3><%= brief.title %></h3>
			<%= simple_format brief.description %>
		</article>
		<% end %>
	<% end %>
	
</section>

<aside>
	<% if user_signed_in? %>
		<% if current_user.is_attending?(@gig) %>
			<p>You've signed up for this event, please let us know if you can no longer make it.</p>
			<p><%= link_to "Can not attend", attend_gig_path(@gig) %></p>
		<% else %>
			<p><%= link_to "Attend this event", attend_gig_path(@gig) %></p>
		<% end %>
	<% end %>
	
	<% if @gig.users.any? %>
		<h2>Who<%= (user_signed_in? && current_user.is_attending?(@gig) ? " else is" : "'s") %> coming?</h2>
		<ul>
			<% @gig.users.each do |user| %>
			<li><%= link_to user.name, member_path(user) %></li>
			<% end %>
		</ul>
	<% end %>
</aside>