<section id="primary_content">
	
	<article class="event">
	
		<h1><%= @gig.title %></h1>
		
		<div class="abstract">
			<% if @gig.start_time && @gig.end_time %><p class="meta"><span>When?</span> <%= @gig.start_time.to_formatted_s(:long_ordinal) %> &rarr; <%= @gig.end_time.to_formatted_s(:long_ordinal) %></time><% end %>
			<p class="meta"><span>Who?</span> Organised by the 
				
			<a href="/chapters/<%= @gig.chapter.slug%>"><%= @gig.chapter.title%> crew</a><%= " in partnership with #{link_to @gig.partner.name, @gig.partner.url}".html_safe unless @gig.partner.nil? %></p>
			<% if @gig.location? %><p class="meta"><span>Where?</span> <%= link_to @gig.location, "https://maps.google.co.uk/maps?q=#{@gig.location},+%20#{@gig.chapter.title}" %></p>
			
			<% if @gig.start_time || @gig.end_time %>	
			<div class="meta"><span>Reminder:</span> 
				<div class="addthisevent">
					<div class="desc">
						<p>
							Add to Calendar
						</p>
					</div>
					<% if @gig.start_time %>	
					<span class="_start"><%= @gig.start_time.to_formatted_s(:ical)%></span>
					<% end%>
					<% if @gig.end_time%>
					<span class="_end"><%= @gig.end_time.to_formatted_s(:ical)%></span>
					<% end%>
					<span class="_zonecode">35</span>
					<span class="_summary">Good For Nothing: <%= @gig.title %></span>
					<span class="_description"><%= @gig.title %></span>
					<span class="_location"><%=@gig.location%></span>
					<span class="_organizer"><%= @gig.chapter.title%> crew<</span>
					<span class="_all_day_event">false</span>
					<span class="_date_format">DD-MM-YYYY</span>
				</div>
			</div>
			<script type="text/javascript" src="http://js.addthisevent.com/atemay.js"></script>
			
			<script type="text/javascript">
			addthisevent.settings({
				mouse		: false,
				css			: false,
				outlook		: {show:true, text:"Outlook Calendar"},
				google		: {show:true, text:"Google Calendar"},
				yahoo		: {show:true, text:"Yahoo Calendar"},
				ical		: {show:true, text:"iCal Calendar"},
				hotmail		: {show:true, text:"Hotmail Calendar"}
			});
			</script>
			<% end %>
			<% end %>
		</div>	
		
		<% unless @gig.description.nil? %>
			<% if @gig.description.is_json? %>
			<%= render_sir_trevor(@gig.description) %>
			<% else %>
			<%= simple_format(@gig.description).html_safe %>
			<% end %>
		<% end %>
			
	</article>
		
	<div id="challenges">
	<% if @gig.challenges.any? %>

		<% @gig.challenges.each do |challenge| %>
			<%= render :partial => "challenges/block", :locals => { :challenge => challenge } %>
		<% end %>
	
	<% end %>
	</div>
	
</section>

<aside id="secondary_content">
	
	<%= render :partial => "events/attend", :locals => { :event => @gig } %>
	<%= render :partial => "events/attendees", :locals => { :event => @gig }%>
	
	<% if @wishlist_complete.any? || @wishlist_incomplete.any? %>
	<div id="wishlist" class="action">
		<% if @wishlist_incomplete.any?%>
		<h2>What we need</h2>

		<div class="wishlist-wrapper">
		<% @wishlist_incomplete.each do |item| %>
			<%= render :partial => "gigs/item_need", :locals => { :item => item, :chapter => @gig.chapter } %>
		<% end %>
		</div>
		<% end %>
	
		<% if @wishlist_complete.any?%>
		<h2>What we've got</h2>
		<div class="wishlist-wrapper">		
		<% @wishlist_complete.each do |item| %>
			<%= render :partial => "gigs/item_got", :locals => { :item => item, :chapter => @gig.chapter } %>
		<% end %>
		</div>
		<% end %>
	</div>		
	<% end %>
	
</aside>