<h2><%= social.start_time.day %> <span><%= social.start_time.strftime('%B') %></span></h2>

<p><em><%= social.chapter.title %> social</em>, join us 
<% if social.location %>
at <%=  social.location %>
<% else %>
for a natter and beverages
<% end %>
</p>

<p class="cta"><%= link_to "Registration", social_path(social) %></p>