<h2><%= social.start_time.day %> <span><%= social.start_time.strftime('%B') %></span></h2>

<p><strong><%= social.chapter.title %> social</strong><br />
<% unless social.location.nil? || social.location.blank? %>
At <%=  social.location %>
<% else %>
Not sure where yet!
<% end %>
</p>

<p class="cta"><%= link_to "Registration", social_path(social) %></p>