<h2><%= social.start_time.day %> <span><%= social.start_time.strftime('%B') %></span></h2>

<p><strong><%= social.chapter.title %> social</strong><br /> Join us 
<% unless social.location.nil? %>
at <%=  social.location %>
<% else %>
for a natter and beverages
<% end %>
</p>

<p class="cta"><%= link_to "Registration", social_path(social) %></p>