<section id="primary_content">
	
	<article class="event">
		
		<h1><%= @social.name %></h1>
		
		<% if @social.location? || @social.start_time %>
		<div class="abstract">
			<% if @social.start_time %><p class="meta"><span>When?</span> <%= @social.start_time.to_formatted_s(:article) %> at <%= @social.start_time.strftime('%H:%M') %></p><% end %>
			<% if @social.location? %><p class="meta"><span>Where?</span> <%= link_to @social.location, "https://maps.google.co.uk/maps?q=#{@social.location},+%20#{@social.chapter.title}" %></p><% end %>
		</div>
		<% end %>
		
		<% unless @social.description.nil? %>
			<% if @social.description.is_json? %>
			<%= render_sir_trevor(@social.description) %>
			<% else %>
			<%= simple_format(@social.description).html_safe %>
			<% end %>
		<% end %>
		
		<p>See you there! <br /><em><%= @social.chapter.users.crew.map(&:short_name).to_sentence %></em></p>

	</article>
	
	<%= 
		render :partial => "comments/panel", :locals => { 
			:comments => @social.comments, 
			:commentable => @social
		} 
	%>
	
</section>

<aside id="secondary_content">
	
	<% if @social.open? && @social.description.size > 1500 %>
		<p class="icon_gigs"><%= link_to @social.commentable_title, "#new_comment" %></p>
	<% end %>
	
	<h2>Who<%= (user_signed_in? && current_user.is_attending_social?(@social) ? " else is" : "'s") %> coming?</h2>
	
	<% if !@social.start_time.future? %>
		<p>This social is happening right now, you can no longer register, but feel free to just drop in and say hello anyway!</p>
	<% else %>
		<% if user_signed_in? && current_user.is_attending_social?(@social) %>
			<p>You've registered to attend this social, look forward to seeing you!</p>
			<p class="more"><%= link_to "I can't make it", attend_social_path(@social) %></p>
			<br />
		<% elsif @social.slots.count == 1 && @social.slots.first.skill.nil? %>
			<% if @social.slots.first.limit.nil? || @social.slots.first.available_slots > 0 %>
				<p class="cta"><%= link_to "I'm Coming!", attend_social_path(@social, :slot => @social.slots.first) %></p>
			<% else %>
				<p>Sorry, there are no tickets left for this social, check back later, some may free up!</p>
			<% end %>
		<% elsif @social.slots.any? %>
			<table class="registration_table">
				<thead>
					<tr>
						<th>Ticket</th>
						<th>Slots</th>
					</tr>
				</thead>
				<tbody>
					<% @social.slots.each do |slot| %>
					<tr>
						<td><%= (slot.skill.present?) ? slot.skill.title : (slot.custom_skill.empty?) ? "Open to all" : slot.custom_skill %></td>
						<td><%= (slot.limit) ? slot.available_slots : "&#8734;".html_safe %></td>
						<% if slot.limit.nil? || slot.available_slots > 0 %>
						<td class="btn"><%= link_to "Attend", attend_social_path(@social, :slot => slot) %></td>
						<% end %>
					</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	<% end %>
	
	<ul class="avatar_list">
		
		<% @social.chapter.users.crew.each do |user| %>
			<%= render :partial => "members/avatar", :locals => { :member => user }%>
		<% end %>
		
		<% if @attendees.any? %>
		<% @attendees.each do |user| %>
			<%= render :partial => "members/avatar", :locals => { :member => user }%>
		<% end %>
		<% end %>
		
	</ul>
	
</aside>