<section id="primary_content">
	
	<article class="event">
		
		<h1><%= @social.chapter.title %> Social</h1>
		<% if @social.start_time %>
		<time>Join us on <%= @social.start_time.to_formatted_s(:article) %></time>
		<% end %>	
	
		<%= md.render(@social.description).html_safe unless @social.description.nil? %>
	
		<p>See you there! <br /><em><%= @social.chapter.users.crew.map(&:short_name).to_sentence %></em></p>
		
	</article>
	
</section>

<aside id="secondary_content">
	
	<% if @social.start_time.future?  %>
	
		<% if user_signed_in? && current_user.is_attending_social?(@social) %>
			<h2>You're attending</h2>
			<p>You've told us that you're attending this social, please let us know if you can no longer make it.</p>
			<p class="more"><%= link_to "I can't make it", attend_social_path(@social) %></p>
		<% else %>
			<p class="cta"><%= link_to "I'm coming!", attend_social_path(@social, :slot => @social.slots.first) %></p>
		<% end %>
	
	<% end %>
	
	
	<h2>Who<%= (user_signed_in? && current_user.is_attending_social?(@social) ? " else is" : "'s") %> coming?</h2>
	<ul class="avatar_list">
		
		<% @social.chapter.users.crew.each do |user| %>
			<%= render :partial => "members/avatar", :locals => { :member => user }%>
		<% end %>
		
		<% if @attendees.any? %>
		<% @attendees.each do |user| %>
			<%= render :partial => "members/avatar", :locals => { :member => user }%>
		<% end %>
		<% end %>
		
	</ul>
	
	<% if @social.location? %>
		<h2>Where do I go?</h2>
		<p><%= link_to @social.location, "https://maps.google.co.uk/maps?q=#{@social.location},+%20#{@social.chapter.city}" %></p>
	<% end %>
	
</aside>