<section id="primary_content">
	
	<article class="event">
		
		<h1><%= @social.name %></h1>
		
		<% if @social.location? || @social.start_time %>
		<div class="abstract">
			<% if @social.start_time %><p class="meta"><span>When?</span> <%= @social.start_time.to_formatted_s(:article) %> at <%= @social.start_time.strftime('%H:%M') %></p><% end %>
			<% if @social.location? %><p class="meta"><span>Where?</span> <%= link_to @social.location, "https://maps.google.co.uk/maps?q=#{@social.location},+%20#{@social.chapter.title}" %></p><% end %>
		</div>
		<% end %>
		
		<% unless @social.description.nil? %>
			<% if @social.description.is_json? %>
			<%= render_sir_trevor(@social.description) %>
			<% else %>
			<%= simple_format(@social.description).html_safe %>
			<% end %>
		<% end %>
		
		<p>See you there! <br /><em><%= @social.chapter.users.crew.map(&:short_name).to_sentence %></em></p>

	</article>
	
	<%= 
		render :partial => "comments/panel", :locals => { 
			:comments => @social.comments, 
			:commentable => @social
		} 
	%>
	
</section>

<aside id="secondary_content">
		
	<%= render :partial => "events/attend", :locals => { :event => @social } %>
	<%= render :partial => "events/attendees", :locals => { :attendees => @social.attendees } %>
	
</aside>