<section id="primary_content" class="single">

	<div class="container" id="warbling_introduction">

		<h1>Warbling about stuff that matters</h1>
		<p>Warblings are community driven streams of consciousness around topics that matter &ndash; thoughts, ponderances and snippets from the web.</p>
	
	</div>
	
	<% if @warblers.any? %>
	<div id="warblers">
		<div class="container">
			<h2>Introducing&hellip; the warblers</h2>
			<ul class="avatar_list">
				<% @warblers.each do |warbler| %>
					<%= render :partial => "members/avatar", :locals => { :member => warbler }%>
				<% end %>
			</ul>
			<%= link_to "Join them!", "mailto:hello@goodfornothing.com?subject=I'd like to be a warbler!", :class => "join" %>
		</div>
	</div>
	<% end %>
	
	<div class="container">
	
		<% if @issues.any? %>
		
			<% @issues.each do |issue| %>
			<div class="issue_grid">
				
				<h3 class="warbling warbling_<%= issue.slug.downcase.underscore %>"><%= link_to issue.title, warbling_path(issue) %></h3>
				
				<% if issue.warbles.any? %>
				<ul class="grid_list grid_three">
					<% issue.warbles.first(3).each do |warble| %>
					<li>
						<% unless warble.hero_image.url.nil? %>
							<%=  image_tag warble.hero_image.thumbnail, :class => "hero" %>
						<% end %>
						<p><%= link_to warble.title, warbling_path(issue) %></p>
					</li>
					<% end %>
				</ul>
				<% end %>
				
			</div>
			<% end %>
		
		<% end %>
	
		<% if @updates.any? %>
		
			<div class="issue_grid">
				
				<h3 class="warbling warbling_gfn"><%= link_to "GFN Musings", posts_path %></h3>
				
				<ul class="grid_list grid_three">
					<% @updates.each do |update| %>
						<li>
							<% unless update.hero_image.url.nil? %>
								<%=  image_tag update.hero_image.thumbnail, :class => "hero" %>
							<% end %>
							<p><%= link_to update.title, post_path(update) %></p>
						</li>
					<% end %>
				</ul>
			
			</div>
			
		<% end %>
		
	</div>
			
</section>