<section id="primary_content">

	<h1>Warblings</h1>
	
	<div class="abstract">
		<p>Warblings are community driven streams of consciousness around topics that matter &ndash; thoughts, ponderances and snippets from the web.</p>
	</div>
	
	<% if @warblings %>
	<ul class="grid_list">
		<% @warblings.each do |warbling| %>
			<li class="warbling warbling_<%= warbling.slug.underscore %>"><%= link_to warbling.title, warbling_path(warbling) %></li>
		<% end %>
	</ul>
	<% end %>
			
</section>

<aside id="secondary_content">	
	<p class="cta"><%= link_to "The library".html_safe, library_path %></p>
	
	<% if @updates.any? %>
	<ul id="updates_list">
		<% @updates.each do |post| %>
			<li>
				<%= render :partial => "posts/block", :locals => { :post => post } %>
			</li>
		<% end %>
	</ul>
	<p class="more"><%= link_to "More GFN updates", posts_path %>
	<% end %>
	
</aside>