<section id="primary_content">

	<h1><%= @warbling.title %></h1>
		
	<% if @warbling.posts.any? %>
	<h2>Posts</h2>
	<ul>
		<% @warbling.posts.each do |post| %>
		<li><%= link_to post.title, post_path(post) %></li>
		<% end %>
	</ul>
	<% end %>	
	
	<% if @warbling.bookmarks.any? %>
	<h2>In the Library</h2>
	<ul>
		<% @warbling.bookmarks.each do |bookmark| %>
		<li><%= link_to bookmark.title, bookmark.url %></li>
		<% end %>
	</ul>
	<% end %>
			
</section>

<% if @warblings.any? %>
<aside id="secondary_content">
	<ul class="filter_list">
		<% @warblings.each do |warbling| %>
			<li class="warbling_small small_warbling_<%= warbling.slug.underscore %>"><%= link_to warbling.title, warbling_path(warbling) %></li>
		<% end %>
	</ul>
</section>
<% end %>