<aside id="secondary_content" class="introduction">
	
	<div id="warble_filters">
		
		<%= image_tag @issue.icon.large %>
		
		<% if @issues.any? %>
		<ul class="filter_list">
			<% @issues.each do |issue| %>
			<li class="warbling_small">
				<%= link_to (image_tag issue.icon.small), warbling_path(issue), :class => "issue_tip", :title => issue.title %>
			</li>
			<% end %>
			<li class="warbling_small">
				<%= link_to (image_tag "illustrations/gfn_small.png"), posts_path, :class => "issue_tip", :title => "GFN Musings" %>
			</li>
		</ul>
		<% end %>
		
	</div>
	
</aside>

<section id="primary_content">

	<div class="abstract">
		<h1>Warbling about <%= @issue.title %></h1>
		<%= simple_format @issue.description %>
	</div>
	
	<% if @stream.any? %>
		<% @stream.each do |resource| %>
		
			<% if resource.class == Trill %>
			
				<article class="warble" id="warble_<%= resource.id %>">
					
					<div class="heading">
						<%= render :partial => "members/avatar", :locals => { :member => resource.user }%>
						<h2><%= resource.title %></h2>
						<p>Warbled by <%= resource.user.name %></p>
					</div>
											
					<% if resource.vimeo.present? %>
						<iframe class="hero" src="http://player.vimeo.com/video/<%= resource.vimeo %>?title=0&amp;byline=0&amp;portrait=0&amp;color=9adada" width="640" height="352" frameborder="0"></iframe>
					<% elsif resource.hero_image.url.present? %>
						<%=  image_tag resource.hero_image, :class => "hero" %>
					<% end %>
											
					<%= simple_format(auto_link(resource.description)).html_safe %>

					<p class="cta"><%= link_to "Go check it out!", resource.url %></p>
					

				</article>
				
			<% elsif resource.class == Post %>
				<article class="post_panel">

					<% unless resource.hero_image.url.nil? %>
						<%= image_tag resource.hero_image.panel, :class => "hero" %>
					<% end %>
					
					<div class="panel_content">
						<% if resource.body.blank? %>
							<h2><%= resource.title %></h2>
						<% else %>
							<h2><%= link_to resource.title, post_path(resource) %></h2>
						<% end %>
						<%= simple_format(resource.excerpt).html_safe %>
					</div>

				</article>
			<% end %>
			
		<% end %>
	<% end %>
			
</section>
