<aside id="secondary_content" class="introduction">
	
	<div id="warble_filters">
		
		<h1><%= @issue.title %></h1>	
		
		<% if @issues.any? %>
		<ul class="filter_list">
			<% @issues.each do |issue| %>
				<li class="<%= "active" if @issue.present? && issue == @issue %> warbling_small small_warbling_<%= issue.slug.underscore %>"><%= link_to issue.title, warbling_path(issue) %></li>
			<% end %>
		</ul>
		<% end %>
		
	</div>
	
</aside>

<section id="primary_content">

	<div class="abstract">
		<%= simple_format @issue.description %>
	</div>
	
	<% if @stream.any? %>
		<% @stream.each do |resource| %>
		
			<% if resource.class == Trill %>
				<article class="warble">
					
					<div class="warble_intro">
						<% unless resource.hero_image.url.nil? %>
							<%=  image_tag resource.hero_image, :class => "hero" %>
						<% end %>
						<div class="heading">
							<h2><%= resource.title %></h2>
							<p class="cta"><%= link_to "Check it out", resource.url %></p>
						</div>
					</div>
					
					<%= simple_format(auto_link(resource.description)).html_safe %>

				</article>
			<% elsif resource.class == Post %>
				<article class="post_panel">

					<% unless resource.hero_image.url.nil? %>
						<%= image_tag resource.hero_image.panel, :class => "hero" %>
					<% end %>
					
					<div class="panel_content">
						<% if resource.body.blank? %>
							<h2><%= resource.title %></h2>
						<% else %>
							<h2><%= link_to resource.title, post_path(resource) %></h2>
						<% end %>
						<%= simple_format(resource.excerpt).html_safe %>
					</div>

				</article>
			<% end %>
			
		<% end %>
	<% else %>
		<p>There's not a lot here yet, but hey, we've just launched!</p>
	<% end %>
			
</section>
