<!DOCTYPE html>
<html>
	<head>
		
		<title>Good for Nothing &ndash; Collaborating for good</title>
		<meta name="description" content="Good for Nothing, collaborating for good" />
		<meta name="keywords" content="good, nothing, hack, london, pipeline, socent, social, innovation" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		
		<meta name="robots" content="noindex,nofollow" />
		
	</head>
	<body class="<%= "section_#{params[:controller]} view_#{params[:action]}"%>">

		<header>
			
			<div class="container">
		
				<% if params[:controller] == "home" %>
				<h1 id="branding">Good for Nothing</h1>
				<% else %>
				<p id="branding"><%= link_to "Good for Nothing", root_path %></p>
				<% end %>
		
				<nav id="primary_navigation">

					<ul>
						<li><%= link_to "Challenges", challenges_path, :class => ('active' if is_challenges?) %></li>
						<li><%= link_to "How it works", about_path, :class => ('active' if is_about?) %></li>	
						<li><%= link_to "Community", community_path, :class => ('active' if is_community?) %></li>
						<li><%= link_to "Warblings", warblings_path, :class => ('active' if is_warblings?) %></li>
					</ul>

				</nav>
				
				<nav id="secondary_navigation">
					
					<ul class="social">
						<li><a title="Facebook" class="icon facebook" href="http://www.facebook.com/g00dfornothing">Facebook</a></li>
						<li><a title="Twitter" class="icon twitter" href="https://twitter.com/g00dfornothing">Twitter</a></li>
					</ul>
					
					<p class="registration">
						<% if user_signed_in? %>
							View <%= link_to "your profile", member_path(current_user) %>, or <%= link_to "logout", logout_path, :method => :delete %>
						<% else %>
							<%= link_to "Become a member", register_path %> or <%= link_to "Login", login_path %>
						<% end %>
					</p>
					
				</nav>
				
				<% if params[:controller] == "home" %>
				<section id="introduction">
					<h2>What<br /> is Good for Nothing?</h2>
					<p><%= link_to "Smart folk", community_path %> <span>collaborating and experimenting to solve</span> <%= link_to "stuff that matters", challenges_path %></p>
				</section>
				<% end %>
				
		</header>

		<div id="main" role="main" class="container">
			<%= "<p id='site_notice'>#{flash[:error]}</p>".html_safe if flash[:error] %>
			<%= "<p id='site_notice'>#{flash[:notice]}</p>".html_safe if flash[:notice] %>
			<%= "<p id='site_notice'>#{flash[:alert]}</p>".html_safe if flash[:alert] %>
			<%= yield %>
		</div>
	
		<footer>
			<div class="container">
				<section>
					<h2>Good for Near You</h2>
					<p>Taking challenges offline is important, be it in the form of a two day <%= link_to "collaborative gig", gigs_path %> or just grabbing a coffee. So we're starting to set up some local chapters:</p>
					<p><%= @chapters.map{ |c| c.title }.join(', ').html_safe %></p>
					<p class="cta">If you're not already covered, <a href="mailto:hello@goodfornothing.com">drop us a note</a>, maybe you can start your own.</p>
				</section>
				<section>
					<h2>Get involved</h2>
					<ul>
						<li><%= link_to 'Find a challenge', challenges_path %></li>
						<li><%= link_to 'Attend a gig', gigs_path %></li>
						<li><%= link_to "Submit a challenge", new_challenge_path %></a></li>
						<li><%= link_to "Partner with us", new_partner_path %></li>
					</ul>
				</section>
			</div>
		</footer>
	
		<section id="colophon">
			<p class="container">Good for Nothing &ndash; Bringing smart folk together to do some good for nothing, <a href="mailto:hello@goodfornothing.com">say hello</a> <a class="icon pipeline" href="http://www.pipelineproject.co">Brought to you by the Pipeline Project</a></p>
		</section>

	</body>
</html>