<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/">
	<head>
		
		<title>
			<% if params[:controller] == "members" && params[:action] == "show" && !@member.nil? %>
				<%= "#{@member.name} at"%>
			<% elsif params[:controller] == "gigs" %>
				Gigs at 
			<% elsif params[:controller] == "socials" %>
				Socials at
			<% elsif is_about? %>
				How it works &ndash;
			<% elsif is_community? %>
			 	The Community at 
			<% elsif is_challenges? %>
			 	Challenges &ndash; 
			<% elsif is_warblings? %>
			  	Warblings &ndash;
			<% end %>
			Good for Nothing &ndash; Collaborating for Good
		</title>
		
		<meta name="description" content="Good for Nothing, smart folk collaborating and experimenting to solve stuff that matters." />
		<meta name="keywords" content="good, nothing, hack, london, pipeline, socent, social, innovation, purpose, challenges, enterprise, ventures, causes, charity" />
		<link rel="shortcut icon" href="/favicon.ico?v2" />
		
		<meta property="og:title" content="<%= "#{@member.name.titlecase} at " if params[:controller] == "members" && params[:action] == "show" && !@member.nil? %>Good for Nothing - Collaborating for Good" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://<%=request.host+request.fullpath%>" />
		<meta property="og:image" content="http://www.goodfornothing.com/assets/branding/bird-facebook.png" />
		<meta property="og:description" content="Good for Nothing, smart folk collaborating and experimenting to solve stuff that matters." />
		<meta property="fb:admins" content="1009211182" />
		
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

		<link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
				
		<% if Rails.env.production? %>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-32250261-2']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<% end %>
		
		<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
		
	</head>
	<body class="<%= "section_#{params[:controller].parameterize.underscore} view_#{params[:action]}"%>">

		<header>
			
			<div class="container">
		
				<% if params[:controller] == "home" %>
				<h1 id="branding">Good for Nothing</h1>
				<% else %>
				<p id="branding"><%= link_to "Good for Nothing", root_path %></p>
				<% end %>
		
				<nav id="primary_navigation">

					<ul>
						<li class="nav--about"><%= link_to "About", how_path, :class => ('active' if is_about?) %></li>
						<li class="nav--chapters"><%= link_to "Local chapters", chapter_register_path, :class => ('active' if is_chapters?) %></li>
						<li class="nav--gigs"><%= link_to "Gigs", calendar_path, :class => ('active' if is_calendar?) %></li>
						<li class="nav--warblings"><%= link_to "Warblings", warblings_path, :class => ('active' if is_warblings?) %></li>
						<li class="nav--challenges"><%= link_to "Challenges", new_messaging_challenge_path, :class => ('active' if is_challenges?) %></li>
						<li class="nav--highlights"><%= link_to "Highlights", highlights_path, :class => ('active' if is_highlights?) %></li>
						<% if !user_signed_in? %>
							<li class="nav--join"><%= link_to "Join", register_path, :class => ('active' if is_register?)%></li>
						<% end %>
						
					</ul>

				</nav>
				
				<nav id="secondary_navigation">
					
					<ul>					
						<li class="registration">
							<% if user_signed_in? %>
								<%= current_admin_user ? link_to("Enter the hive, ", "/hive") : ''%> <%= link_to "Visit your GFN", member_path(current_user) %> or <%= link_to "Log out", logout_path %>
							<% else %>
								<%= link_to "Become a member", register_path %> or <%= link_to "Sign in", login_path %>
							<% end %>
						</li>
						<li class="social-icons">
							<a href="https://www.facebook.com/g00dfornothing">
								<span class="fa-stack">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-facebook fa-stack-1x"></i>
								</span>
							</a>
							<a href="https://twitter.com/g00dfornothing">
								<span class="fa-stack">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-twitter fa-stack-1x"></i>
								</span>
							</a>
						</li>
					</ul>
					
				</nav>
				
				<% if params[:controller] == "home" %>
				<!--<section id="introduction">
					<h2>Good for Nothing</h2>
					<p><%= link_to "Smart folk", members_path %> <span>collaborating and experimenting to solve</span> <%= link_to "stuff that matters", challenges_path %></p>
				</section>-->
				<section class="slideshow-wrapper">
					<div class="slideshow js-slideshow">
						<a href='<%= url_for how_path %>' class="slide js-slide">
							<%= image_tag("illustrations/gfn-homepage.jpg") %>
						</a>
						<div class="slide js-slide">
							<iframe id='player1' src="//player.vimeo.com/video/49474841?title=0&amp;byline=0&amp;portrait=0&amp;color=d0122d&amp;api=1&amp;player_id=player1" width="960" height="525" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
						<a href='<%= url_for chapter_register_path %>' class="slide js-slide">
							<div class="slideshow-map" id='js-map'></div>
						</a>
					</div>
				</section>
				<div class="slideshow-navigation">
					<%= image_tag("assets/arrow-left.png", {:class=>"slideshow-arrow slideshow-arrow--left js-arrow-left"}) %>
					<%= image_tag("assets/arrow-right.png", {:class=>"slideshow-arrow slideshow-arrow--right js-arrow-right"}) %>
					<li class="js-slideshow-pagination active"></li>
					<li class="js-slideshow-pagination"></li>
					<li class="js-slideshow-pagination"></li>
				</div>
				<% end %>
				
			</div>
				
		</header>

		<div id="main" role="main" class="container">
			<%= yield %>
		</div>
	
		<footer>
			<div class="container">
				
				<section id="get_involved">
					<h2>Get involved</h2>
					<ul>
						<li><%= link_to("Find your local chapter", chapter_register_path) %></li>
						<li><%= link_to("Attend a gig or social", calendar_path) %></li>
						<li><%= link_to("Contribute to GFN", friends_path) %></li>
						<li><%= link_to("Meet the GFN community", members_path) %></li>
					</ul>
				</section>
				
				<section id="hood">

					<h2>Good in your hood</h2>
					<p>We love the Interweb, but to solve challenges people also need to get together. Hooking up with likeminded folk at a gig or social, or just for a cuppa and a natter is the Good for Nothing way.</p>
					<p>We're hatching chapters around the world to help good folk do just that. If we're not near you yet and you'd like to bring Good for Nothing to your hood, let us explain <%= link_to "a little more", chapter_register_path %> about bringing it to your area.</p>

				</section>
			
			</div>
		</footer>
	
		<section id="colophon">
			<div class="container">
				<p id="ident">Smart folk collaborating and experimenting to solve stuff that matters, say <a href="mailto:hello@goodfornothing.com">hello</a>, <a href="https://twitter.com/g00dfornothing">tweet</a>, <a href="http://www.facebook.com/g00dfornothing">befriend</a> or read our <%= link_to "privacy", privacy_path %> policy.</p>
				<p>Licensed under the Creative Commons (<a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a>).</p>
				<p id="backers">Good For Nothing is backed by <a href="http://giving.nesta.org.uk/" class="logo nesta">Nesta</a> and <a class="logo swarm" href="http://swarm.gd/">Swarm</a></p>
			</div>
		</section>

	</body>
</html>