<!DOCTYPE html>
<html>
	<head>
		
		<title>Good for Nothing &ndash; Collaborating for good</title>
		<meta name="description" content="Good for Nothing, collaborating for good" />
		<meta name="keywords" content="good, nothing, hack, london, pipeline, socent, social, innovation" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		
		<meta name="robots" content="noindex,nofollow" />
		
	</head>
	<body>

		<header class="container">
		
			<% if params[:controller] == "home" %>
				<h1 id="branding">Good for Nothing</h1>
			<% else %>
				<p id="branding"><%= link_to "Good for Nothing", root_path %></p>
			<% end %>
		
			<nav id="social_navigation">
				<ul class="social">
					<li><a title="Good for Nothing RSS" class="icon rss" href="http://www.goodfornothing.com/blog/posts.rss">RSS</a></li>
					<li><a title="Soundcloud" class="icon soundcloud" href="http://soundcloud.com/goodfornothing-1">Soundcloud</a></li>
					<li><a title="Facebook" class="icon facebook" href="http://www.facebook.com/g00dfornothing">Facebook</a></li>
					<li><a title="Flickr" class="icon flickr" href="http://www.flickr.com/photos/goodfornothingflickrs/">Flickr</a></li>
					<li><a title="Twitter" class="icon twitter" href="https://twitter.com/g00dfornothing">Twitter</a></li>
				</ul>
			</nav>
		</header>

		<%= render "shared/navigation" %>
	
		<div class="container" id="main" role="main">
			<%= "<p><strong>#{flash[:error]}</strong></p>".html_safe if flash[:error] %>
			<%= "<p><strong>#{flash[:notice]}</strong></p>".html_safe if flash[:notice] %>
			<%= yield %>
		</div>
	
		<footer>
			<div class="container">
				<section>
					<h2 class="headline">Good for Nothing</h2>
					<p>Good for Nothing is the social mission of The Pipeline Project.</p>
					<p>We give time, money and energy to do stuff that supports people trying to make positive impact and change happen.</p>
				</section>
				<section>
					<h2 class="headline">Crew</h2>
					<p>We have a team of folk.</p>
					<p><a href="http://twitter.com/rodgox" target="_blank">Rodrigo</a>, <a href="http://twitter.com/ZoeOliviaJohn" target="_blank">Zoe</a>, <a href="http://twitter.com/searsio" target="_blank">Mark</a>, <a href="http://twitter.com/rsworks" target="_blank">Andy</a>, <a href="http://twitter.com/greenape" target="_blank">Mark</a>, <a href="http://twitter.com/becausestudio" target="_blank">Loz</a>, <a href="http://twitter.com/_alkennedy" target="_blank">Al</a>, <a href="http://twitter.com/carolinavail" target="_blank">Caro</a>, <a href="http://twitter.com/stephenjking" target="_blank">Steve</a>, <a href="http://twitter.com/carrinag" target="_blank">Carrina</a>, <a href="http://twitter.com/johnridpath" target="_blank">John</a>, <a href="http://twitter.com/andrewsprinz" target="_blank">Andrew</a>, <a href="http://twitter.com/tomfarrand" target="_blank">Tom F</a>, <a href="http://twitter.com/anoukvande" target="_blank">Anouk</a>, <a href="http://twitter.com/Tomrlondon" target="_blank">Tom R</a>, <a href="http://twitter.com/dansolo" target="_blank">Dan</a></p>
				</section>
				<section>
					<h2 class="headline">Community</h2>
					<ul>
						<li><%= link_to "Members", members_path %></li>
						<li><%= link_to "Friends", friends_path %></li>
						<li><%= link_to "Partners", partners_path %></li>
						<li><%= link_to "Ventures", ventures_path %></li>
					</ul>
				</section>
				<section>
					<h2 class="headline">Get in touch</h2>
					<ul>
						<li><a href="mailto:hello@goodfornothing.com">hello@goodfornothing.com</a></li>
						<li><a href="http://twitter.com/g00dfornothing">@g00dfornothing</a></li>
					</ul>
				</section>
			</div>
		</footer>
	
		<section id="colophon">
			<p class="container">Good for Nothing &ndash; Bringing smart folk together to do some good for nothing <a class="icon pipeline" href="http://www.pipelineproject.co">Brought to you by the Pipeline Project</a></p>
		</section>

	</body>
</html>