<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/">
	<head>
		
		<title>
			<% if params[:controller] == "members" && params[:action] == "show" && !@member.nil? %>
				<%= "#{@member.name} at"%>
			<% elsif params[:controller] == "gigs" %>
				Gigs at 
			<% elsif params[:controller] == "socials" %>
				Socials at
			<% elsif is_about? %>
				How it works &ndash;
			<% elsif is_community? %>
			 	The Community at 
			<% elsif is_challenges? %>
			 	Challenges &ndash; 
			<% elsif is_warblings? %>
			  	Warblings &ndash;
			<% end %>
			Good for Nothing &ndash; Collaborating for Good
		</title>
		
		<meta name="description" content="Good for Nothing, smart folk collaborating and experimenting to solve stuff that matters." />
		<meta name="keywords" content="good, nothing, hack, london, pipeline, socent, social, innovation, purpose, challenges, enterprise, ventures, causes, charity" />
		<link rel="shortcut icon" href="/favicon.ico?v2" />
		
		<meta property="og:title" content="<%= "#{@member.name.titlecase} at " if params[:controller] == "members" && params[:action] == "show" && !@member.nil? %>Good for Nothing - Collaborating for Good" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.goodfornothing.com" />
		<meta property="og:image" content="http://www.goodfornothing.com/assets/branding/og.gif" />
		<meta property="og:description" content="Good for Nothing, smart folk collaborating and experimenting to solve stuff that matters." />
		<meta property="fb:admins" content="1009211182" />
		
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
				
		<% if Rails.env.production? %>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-32250261-2']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<% end %>
		
		<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
		
	</head>
	<body class="<%= "section_#{params[:controller].parameterize.underscore} view_#{params[:action]}"%>">

		<header>
			
			<div class="container">
		
				<% if params[:controller] == "home" %>
				<h1 id="branding">Good for Nothing</h1>
				<% else %>
				<p id="branding"><%= link_to "Good for Nothing", root_path %></p>
				<% end %>
		
				<nav id="primary_navigation">

					<ul>
						<li><%= link_to "Challenges", challenges_path, :class => ('active' if is_challenges?) %></li>
						<li><%= link_to "How it works", how_path, :class => ('active' if is_about?) %></li>	
						<li><%= link_to "Community", community_path, :class => ('active' if is_community?) %></li>
						<li><%= link_to "Warblings", warblings_path, :class => ('active' if is_warblings?) %></li>
					</ul>

				</nav>
				
				<nav id="secondary_navigation">
					
					<ul>
						
						<% if !(user_signed_in? && current_user.crew?) %>
						<li class="chapter_registration">
							<%= link_to "Start GFN in your city", chapter_register_path %>
						</li>
						<% end %>
					
						<li class="registration">
							<% if user_signed_in? %>
								<%= link_to "Visit your GFN", member_path(current_user) %> or <%= link_to "logout", logout_path %>
							<% else %>
								<%= link_to "Join the movement", register_path %> or <%= link_to "Login", login_path %>
							<% end %>
						</li>
					
					</ul>
					
				</nav>
				
				<% if params[:controller] == "home" %>
				<section id="introduction">
					<h2>Good for Nothing</h2>
					<p><%= link_to "Smart folk", members_path %> <span>collaborating and experimenting to solve</span> <%= link_to "stuff that matters", challenges_path %></p>
				</section>
				<% end %>
				
			</div>
				
		</header>

		<div id="main" role="main" class="container">
			<%= yield %>
		</div>
	
		<footer>
			<div class="container">
				
				<section id="get_involved">
					<h2>Get involved</h2>
					<ul>
						<li><%= link_to 'Find a challenge', challenges_path %></li>
						<li><%= link_to 'Attend a gig or social', calendar_path %></li>
						<li><%= link_to "Submit a challenge", new_messaging_challenge_path %></li>
						<li><%= link_to "Partner with us", new_messaging_partner_path %></li>
						<li><a href="https://twitter.com/g00dfornothing">Follow us on @g00dfornothing</a></li>
					</ul>
				</section>
				
				<section id="hood">

					<h2>Good in your hood</h2>
					<p>We love the Interweb, but to solve challenges people also need to get together. Hooking up with likeminded folk at a gig or social, or just for a cuppa and a natter is the Good for Nothing way.</p>
					<p>We're hatching chapters around the world to help good folk do just that. If we're not near you yet and you'd like to bring Good for Nothing to your hood, let us explain <%= link_to "a little more", chapter_register_path %> about bringing it to your area.</p>

				</section>
			
			</div>
		</footer>
	
		<section id="colophon">
			<div class="container">
				<p id="ident">Smart folk collaborating and experimenting to solve stuff that matters, say <a href="mailto:hello@goodfornothing.com">hello</a>, <a href="https://twitter.com/g00dfornothing">tweet</a>, <a href="http://www.facebook.com/g00dfornothing">befriend</a> or read our <%= link_to "privacy", privacy_path %> policy</p>
				<p id="backers">Good For Nothing is backed by <a href="http://giving.nesta.org.uk/" class="logo nesta">Nesta</a> and <a class="logo swarm" href="http://swarm.gd/">Swarm</a>.</p>
			</div>
		</section>

	</body>
</html>