<!DOCTYPE html>
<html>
	<head>
		
		<title>Good for Nothing &ndash; Collaborating for good</title>
		<meta name="description" content="Good for Nothing, collaborating for good" />
		<meta name="keywords" content="good, nothing, hack, london, pipeline, socent, social, innovation" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		
		<meta name="robots" content="noindex,nofollow" />
		
	</head>
	<body class="<%= "section_#{params[:controller]} view_#{params[:action]}"%>">

		<header>
			
			<div class="container">
		
				<% if params[:controller] == "home" %>
				<h1 id="branding">Good for Nothing</h1>
				<% else %>
				<p id="branding"><%= link_to "Good for Nothing", root_path %></p>
				<% end %>
		
				<nav id="primary_navigation">

					<ul>
						<li><%= link_to "Community", community_path, :class => ('active' if params[:action] == 'community') %></li>
						<li><%= link_to "About", about_path, :class => ('active' if params[:action] == 'about' || params[:action] == 'about') %></li>	
						<li><%= link_to "Challenges", challenges_path, :class => ('active' if params[:controller] == 'challenges') %></li>
						<li><%= link_to "Warblings", warblings_path, :class => ('active' if params[:action] == 'conversation') %></li>
					</ul>

				</nav>
				
				<nav id="secondary_navigation">
					
					<ul class="social">
						<li><a title="Facebook" class="icon facebook" href="http://www.facebook.com/g00dfornothing">Facebook</a></li>
						<li><a title="Twitter" class="icon twitter" href="https://twitter.com/g00dfornothing">Twitter</a></li>
					</ul>
					
					<p class="registration">
						<% if user_signed_in? %>
							View <%= link_to "your profile", member_path(current_user) %>, or <%= link_to "logout", logout_path, :method => :delete %>
						<% else %>
							<%= link_to "Become a member", register_path %> or <%= link_to "Login", login_path %>
						<% end %>
					</p>
					
				</nav>
				
		</header>

		<div class="container" id="main" role="main">
			<%= "<p><strong>#{flash[:error]}</strong></p>".html_safe if flash[:error] %>
			<%= "<p><strong>#{flash[:notice]}</strong></p>".html_safe if flash[:notice] %>
			<%= "<p><strong>#{flash[:alert]}</strong></p>".html_safe if flash[:alert] %>
			<%= yield %>
		</div>
	
		<footer>
			<div class="container">
				<section>
					<h2>What is this?</h2>
					<p>Good for Nothing is the social mission of The Pipeline Project.</p>
					<p>We give time, money and energy to do stuff that supports people trying to make positive impact and change happen.</p>
				</section>
				<section>
					<h2>Crew</h2>
					<p>We have a team of passionate folk looking after Good for Nothing around the UK.</p>
					<p><%= @crew.map{ |u| link_to u.short_name, member_path(u) }.join(', ').html_safe %></p>
				</section>
				<section>
					<h2>Community</h2>
					<ul>
						<li><%= link_to "Members", members_path %></li>
						<li><%= link_to "Friends", friends_path %></li>
						<li><%= link_to "Partners", partners_path %></li>
						<li><%= link_to "Ventures", ventures_path %></li>
					</ul>
				</section>
				<section>
					<h2>Get involved</h2>
					<ul>
						<%= "<li>#{link_to 'Become a member', new_user_registration_path}</li>".html_safe unless user_signed_in? %>
						<li><%= link_to "Submit a challenge", how_path %></a></li>
						<li><%= link_to "Put on a gig", how_path %></li>
					</ul>
				</section>
			</div>
		</footer>
	
		<section id="colophon">
			<p class="container">Good for Nothing &ndash; Bringing smart folk together to do some good for nothing, <a href="mailto:hello@goodfornothing.com">say hello</a> <a class="icon pipeline" href="http://www.pipelineproject.co">Brought to you by the Pipeline Project</a></p>
		</section>

	</body>
</html>