<section id="primary_content">
	<h1>Good for Nothingers</h1>
	
	<div class="abstract">
		<p>The do-ers, makers, dreamers and believers, the heart of Good for Nothing.</p>
	</div>
		
	<% if @member_reach.any? %>
	<h2>&hellip;who you have collaborated with</h2>
	<p>People who have attended gigs and socials with you, or who you've worked with online challenges.</p>
	<ul class="avatar_list">
		<% @member_reach.each do |member| %>
			<%= render :partial => "members/avatar", :locals => { :member => member }%>
		<% end %>
	</ul>
	<% end %>
	
	<% if @chapter_members.any?  %>
	<h2>&hellip;that are in <%= current_user.chapter.title %></h2>
	<ul class="avatar_list">
		<% @chapter_members.each do |member| %>
			<%= render :partial => "members/avatar", :locals => { :member => member }%>
		<% end %>
	</ul>
	<% end %>
	
	<% if @chapter_members.any? || @member_reach.any? %>
	<h2>Around the world</h2>
	<% end %>
	
	<% if @members.any? %>
		<ul class="avatar_list">
			<% @members.each do |member| %>
				<%= render :partial => "members/avatar", :locals => { :member => member }%>
			<% end %>
		</ul>
	<% else %>
		<p>No one is Good for Nothing.</p>
	<% end %>
	
</section>

<aside id="secondary_content">
	
	<p class="cta"><%= link_to "Find a challenge", challenges_path %></p>
	
	<h2>Find a collaborator</h2>
	
	<% if user_signed_in? %>
		<div class="skill_filter">
			<p>Use the skill mixer to find someone with just the right balance.</p>
			
			<% Skill.all.each do |skill| %>
				<div class="skill_range">
					<label><%= skill.title %></label>
					<%= range_field_tag "#{skill.title.underscore}", 0, :in => 0...11, :step => 1 %>
				</div>
			<% end %>
		</div>	
	<% else %>
		<p><%= link_to "Login", login_path(:next => members_path) %> or <%= link_to "become a member", register_path(:next => members_path) %> to find a collaborator with the right talents for your project or challenge.</p>
	<% end %>
	
</aside>