<section id="primary_content">
	<h1>Good for Nothingers</h1>
	
	<div class="abstract">
		<p>The do-ers, makers, dreamers and believers, the heart of Good for Nothing.</p>
	</div>
		
	<% if @member_reach.any? %>
	<h2>Collaborators</h2>
	<p>People who have attended gigs and socials with you, or who you've worked with online challenges.</p>
	<ul class="avatar_list">
		<% @member_reach.each do |member| %>
			<%= render :partial => "members/avatar", :locals => { :member => member }%>
		<% end %>
	</ul>
	<% end %>
	
	<% if @chapter_members.any?  %>
	<h2>In <%= current_user.chapter.title %></h2>
	<ul class="avatar_list">
		<% @chapter_members.each do |member| %>
			<%= render :partial => "members/avatar", :locals => { :member => member }%>
		<% end %>
	</ul>
	<% end %>
	
	<% if @chapter_members.any? || @member_reach.any? %>
	<h2>Everyone else</h2>
	<% end %>
	
	<% if @members.any? %>
		<ul class="avatar_list">
			<% @members.each do |member| %>
				<%= render :partial => "members/avatar", :locals => { :member => member }%>
			<% end %>
		</ul>
	<% else %>
		<p>No one is Good for Nothing.</p>
	<% end %>
	
</section>

<aside id="secondary_content">
	<% if user_signed_in? %>
	<p class="cta"><%= link_to "View Your profile", member_path(current_user) %></p>
	<% else %>
	<p class="cta"><%= link_to "Become a member", register_path %></p>
	<% end %>
</aside>