<section id="primary_content" class="single">
	
	<% if @first_sign_in %>
	<div id="profile_welcome">

		<section class="welcome">
			<h2>Welcome to our new web hive!</h2>
			
			<p>Take a few seconds to tell your story and share your skills. The more you give, the more you'll get back. And the better we'll get at gathering amazing folk to turbo-charge challenges.</p>
			
			<p>&hellip; or just &hellip;</p>
			
			<ul>
				<li class="cta strong"><%= link_to "Find a challenge", challenges_path %></li>
				<li class="cta strong"><%= link_to "Attend an event", calendar_path %></li>
			</ul>
		</section>
		
	</div>
	<% end %>

	<div id="profile">
		
		<h1><%= @member.name %></h1>

		<% if @member.chapter %>
			<p>
				<%= @member.short_name %> <%= (@member.crew?) ? "is part of the crew in" : "is doing Good for Nothing in" %>

				<% if signed_in_as_owner?(@member) %>
			
					<%= render "chapter_form" %>
			
				<% else %>
					<%= @member.chapter.title %>
				<% end %>
		
			</p>
		<% elsif signed_in_as_owner?(@member) %>
			<p>You've not joined a local chapter, <%= render "chapter_form" %>, or <%= link_to "drop us a note", "mailto:hello@goodfornothing.com" %> if you're interesting in starting your own.</p>
		<% end %>

		<div class="panel">

			<h2>Profile</h2>
		
			<div id="profile_avatar">
			<% if @member.avatar.url.nil? %>
				<div class="avatar"><%= image_tag "assets/avatar_small.png" %></div>
			<% else %>
				<div class="avatar"><%= image_tag @member.avatar %></div>
			<% end %>
			
				<% if signed_in_as_owner?(@member) %>

					<%= simple_form_for(@member, :as => 'user', :url => registration_path(@member), :html => { :remote => true, :method => :put, :class => "inline_form", :multipart => true }) do |f| %>				
						<%= f.input :avatar %>
						<%= f.button :submit, "Upload" %>
					<% end %>

				<% end %>
			
			</div>
		
			<ul>
				<% if time_active(@member) %>
				<li><%= contextual_reference(@member).titlecase %> <%= time_active(@member) %></li>
				<% end %>
				<%= "<li>Living in #{@member.location}</li>".html_safe if @member.location %>
				<%= "<li>#{@member.gender}</li>".html_safe if @member.gender %>
				<%= "<li>#{@member.age}</li>".html_safe if @member.age %>
				<%= "<li>#{link_to @member.twitter_handle, "http://twitter.com/#{@member.twitter_handle}"}</li>".html_safe if @member.twitter_handle %>
				<%= "<li>#{link_to @member.url, @member.url}</li>".html_safe if @member.url %>
			</ul>
		
			<% if signed_in_as_owner?(@member) %>
				<p><%= link_to "Update profile", edit_user_registration_path %>, <%= link_to "Change Password", password_path %></p>
			<% end %>
	
		</div>
	
		<div class="panel">
	
			<% if @member.talents.any? %>
			<h2>Talents</h2>
			<ul>
				<% @member.talents.each do |talent| %>
				<li><%= talent.skill.title %> (<%= talent.level %>)</li>
				<% end %>
			</ul>
			<% end %>
		
			<% unless @member.brings.nil? %>
				<h2>Special skills</h2>
				<p><%= @member.brings %></p>
			<% end %>
		
			<% if signed_in_as_owner?(@member) %>
				<p><%= link_to "Tell us more about your talents", talents_path %></p>
			<% end %>
		
		</div>
	
		<div class="panel">
	
			<h2>Activity</h2>
	
			<p>So far, <%= contextual_reference(@member) %> worked with <%= link_to pluralize(@member.member_reach.count, "member"), members_path %> of the community.</p>
	
			<% if @member.challenges.any? %>
			<h3><%= contextual_reference(@member).titlecase %> worked on <%= pluralize(@member.challenges.count, "challenge") %></h3>
			<ul>
				<% @member.challenges.each do |challenge| %>
				<li><%= link_to challenge.title, challenge_path(challenge) %></li>
				<% end %>
			</ul>
			<% end %>
	
			<% if @member.gigs.any? %>
	
				<h3><%= contextual_reference(@member).titlecase %> taken part in <%= pluralize(@member.gigs.count, "gig") %></h3>
				<ul>
					<% @member.gigs.each do |gig| %>
					<li><%= link_to gig.title, gig_path(gig) %></li>
					<% end %>
				</ul>
			<% end %>
	
			<% if signed_in_as_owner?(@member) && @member.gigs.empty? %>
			<p>We're not sure if you've taken part in any gigs, <%= link_to "add gigs to your profile", activity_path %> if you have!</p>	
			<% elsif signed_in_as_owner?(@member) %>
			<p><%= link_to "Tell us which gigs you've attended", activity_path %></p>
	
			<% end %>
	
			<% if @member.socials.any? %>
			<h3><%= contextual_reference(@member).titlecase %> taken part in <%= pluralize(@member.socials.count, "social") %></h3>
			<ul>
				<% @member.socials.each do |social| %>
				<li><%= link_to social.start_time, social_path(social) %></li>
				<% end %>
			</ul>
			<% end %>
	
		</div>
		
	</div>
	
</section>