<section id="primary_content" class="single">
	
	<% if @first_sign_in %>
	<div id="profile_welcome">

		<section class="welcome">
			
			<% if @gig.present? %>
			
				<h2>You've registered to attend <%= @gig.name %>!</h2>
								
				<ul>
					<li class="cta strong"><%= link_to "Spread on Twitter", "https://twitter.com/intent/tweet?&amp;via=g00dfornothing&amp;url=http%3A%2F%2Fwww.goodfornothing.com#{url_encode(gig_path(@gig))}&amp;text=Come join me in doing some Good for nothing! ".html_safe %></li>
					<li class="cta strong"><%= link_to "Gig challenges", "#{gig_path(@gig)}#challenges" %></li>
				</ul>
				
			<% elsif @social.present? %>

				<h2>You've registered to attend <%= @social.name %>!</h2>

				<ul class="gig">
					<li class="cta strong"><%= link_to "Back to the social", "#{social_path(@social)}" %></li>
				</ul>
				
			<% else %>
			
				<h2>Welcome to the movement!</h2>
								
				<ul>
					<li class="cta strong"><%= link_to "Find a challenge", challenges_path %></li>
					<li class="cta strong"><%= link_to "Attend an event", calendar_path %></li>
				</ul>
				
			<% end %>
			
		</section>
		
	</div>
	<% end %>

	<div id="profile">
		
		<div class="panel_full">
			<h2>Why <%= contextual_reference(@member,"you're") %> doing Good for Nothing</h2>
			<blockquote><%= simple_format(@member.reasons_for_joining) %></blockquote>
			<% if @member.can_be_contacted? %>
				<%= link_to "Contact", message_member_messaging_messages_path(@member)  %>
			<% elsif signed_in_as_owner?(@member) %>
				<%= link_to "Turn on direct messaging", notifications_path(@member) %>
			<% end %>
		</div>
					
		<div class="panels">

			<div class="panel">

				<div id="profile_avatar">
					
					<% if @member.avatar.url.nil? %>
					<div class="avatar <%= "tip" if signed_in_as_owner?(@member) %>" title="<%= "Show us yer face!" if signed_in_as_owner?(@member) %>">
						<%= image_tag "assets/avatar_large.png" %>
						<%= render "avatar_form" %>
					</div>
					<% else %>
					<div class="avatar <%= "tip" if signed_in_as_owner?(@member) %>" title="<%= "Change your avatar" if signed_in_as_owner?(@member) %>">
						<%= image_tag @member.avatar %>
						<%= render "avatar_form" %>
					</div>
					<% end %>
			
					<h1><span>A little about</span> <%= @member.name %></h1>
			
					<% if @member.url.present? || @member.twitter_handle.present? %>
					<p>
						<%= @member.short_name %> is on
						<%= " Twitter #{link_to "@" + @member.twitter_handle.gsub('@',''), "http://twitter.com/#{@member.twitter_handle}"}".html_safe if @member.twitter_handle.present? %>
						<%= " and " if @member.twitter_handle.present? && @member.url.present? %>
						<%= "online at #{link_to @member.url.gsub('http://','').gsub('www.','').truncate(20), @member.url}".html_safe if @member.url.present? %>
					</p>
					<% end %>
			
				</div>
		
				<!--<p class="chapter">
				<%# if @member.chapter %>

					<%#= (@member.crew?) ? "Part of the crew in" : "Doing Good for Nothing in" %>
					<%# if signed_in_as_owner?(@member) %>
						<%#= render "chapter_form" %>
					<%# else %>
						<%#= @member.chapter.title %>
					<%# end %>

				<%# elsif signed_in_as_owner?(@member) %>
					You've not joined a local chapter, <%#= render "chapter_form" %>, or <%#= link_to "drop us a note", "mailto:hello@goodfornothing.com" %> if you're interesting in starting your own.
				<%# end %>
				</p>-->
		
				<ul class="data">
					
					<% if @member.chapter %>
					<li><%= (@member.crew?) ? "Part of the crew in" : "Doing Good for Nothing in" %> <%= @member.chapter.title %></li>
					<% end %>
					
					<% if time_active(@member) %>
					<li><%= contextual_reference(@member,"you've").humanize %> <%= time_active(@member) %></li>
					<% end %>
					<%= "<li>Lives in #{@member.location}</li>".html_safe if @member.location.present? %>
					
				</ul>
				
				<% if signed_in_as_owner?(@member) && (@completion >= 55 || params[:welcome]) %>
					<p class="more"><%= link_to "Edit your profile", edit_user_registration_path %></p>
				<% elsif signed_in_as_owner?(@member) && (!params[:welcome] && @completion < 55) %>
					<p><em>We'd love to get to know you better. Why not take a few seconds to tell the community more about yourself; the more you give, the more you'll get back, and the better we'll get at gathering amazing folk to turbo-charge challenges.</em></p>
					<p class="call"><%= link_to "Tell us more about yourself", moar_path %></p>
				<% end %>
								
			</div>
	
			<div class="panel">
	
				<h2>What <%= contextual_reference(@member,"you've").titlecase %> been up to</h2>
	
				<p class="icon_members"><span>So far, <%= contextual_reference(@member, "you've") %> worked with&hellip;</span> <%= link_to pluralize(@member.member_reach.count, "collaborator"), members_path %> </p>
	
				<% if @member.working_on.any? %>
				<h3><%= contextual_reference(@member, "you've").titlecase %> worked on <%= pluralize(@member.working_on.count, "challenge") %></h3>
				<ul class="data">
					<% @member.working_on.each do |challenge| %>
					<li><%= link_to challenge.title, challenge_path(challenge) %></li>
					<% end %>
				</ul>
				<% end %>
	
				<% if @member.gigs.any? %>
					<h3><%= contextual_reference(@member, "you've").titlecase %> taken part in <%= pluralize(@member.gigs.count, "gig") %></h3>
					<ul class="data">
						<% @member.gigs.each do |gig| %>
						<li><%= link_to gig.title, gig_path(gig) %></li>
						<% end %>
					</ul>
				<% end %>
	
				<% if @member.socials.any? %>
				<h3><%= contextual_reference(@member, "you've").titlecase %> been to <%= pluralize(@member.socials.count, "social") %></h3>
				<ul class="data">
					<% @member.socials.each do |social| %>
					<li><%= social.start_time.day %> <%= social.start_time.strftime('%B') %> in <%= social.chapter.title %></li>
					<% end %>
				</ul>
				<% end %>
				
				<% if signed_in_as_owner?(@member) && @member.gigs.empty? %>
				<p>We're not sure if you've taken part in any gigs, <%= link_to "let the community know", activity_path %> if you have!</p>	
				<% elsif signed_in_as_owner?(@member) %>
				<p>Been to more gigs? <%= link_to "Add gigs", activity_path %> to your activity stream.</p>
				<% end %>
	
			</div>
			
			<div class="panel">
				
				<h2><%= contextual_reference(@member, "your").titlecase %> interests and talents</h2>
				
				<% if @member.talents.any? %>
				<ul class="talents">
					<% @member.talents.each do |talent| %>
						<% if talent.skill.title == "Think" 
							
							@make = 100-((talent.level.to_f/10)*100) 
							@think =  100-@make
							
						%>
						<li class="<%= talent.skill.title.underscore %>" data-talent-level="<%= talent.level %>">
							<div class="fill" style="width: <%= @make %>%;">Make</div>
							<div class="fill" style="width: <%= @think %>%;">Think</div>
							<div class="mask"></div>
						</li>
						<% else %>
						<li class="<%= talent.skill.title.underscore %>"><%= talent.level %><sub>/10</sub> <span><%= talent.skill.title %></span></li>
						<% end %>
					<% end %>
				</ul>
				<% end %>
				
				<% if @member.brings? %>
					<h3>Other special skills</h3>
					<p><%= @member.brings %></p>
				<% end %>
				
				<% if signed_in_as_owner?(@member) %>
					<p class="more"><%= link_to "Update your talents", talents_path %></p>
				<% end %>
				
			</div>
			
			<% if signed_in_as_owner?(@member) %>
			<h3>Want to leave?</h3>
			<p class="footnote">You can <%= link_to "delete your account", registration_path(@member), :method => "delete", :confirm => "Are you sure you want to delete your entire account? There's no going back." %>, but we'd be sorry to see you go!</p> 
			<% end %>
		
		</div>
		
	</div>
	
</section>