<section id="primary_content" class="single">
	
	<% if @first_sign_in %>
	<div id="profile_welcome">

		<section class="welcome">
			
			<!-- make this more of a notification bar -->
			
			<% if @gig.present? %>
			
				<h2>You've registered to attend <%= @gig.name %>!</h2>
								
				<ul>
					<li class="cta strong"><%= link_to "Spread on Twitter", "https://twitter.com/intent/tweet?&amp;via=g00dfornothing&amp;url=http%3A%2F%2Fwww.goodfornothing.com#{url_encode(gig_path(@gig))}&amp;text=Come join me in doing some Good for nothing! ".html_safe %></li>
					<li class="cta strong"><%= link_to "Gig challenges", "#{gig_path(@gig)}#challenges" %></li>
				</ul>
				
			<% elsif @social.present? %>

				<h2>You've registered to attend <%= @social.name %>!</h2>

				<ul class="gig">
					<li class="cta strong"><%= link_to "Back to the social", "#{social_path(@social)}" %></li>
				</ul>
				
			<% else %>
			
				<h2>Welcome to the movement!</h2>
								
				<ul>
					<li class="cta strong"><%= link_to "Find a challenge", challenges_path %></li>
					<li class="cta strong"><%= link_to "Attend an event", calendar_path %></li>
				</ul>
				
			<% end %>
			
		</section>
		
	</div>
	<% end %>

	<% if signed_in_as_owner?(@member) && (!params[:welcome] && @completion < 55) # no twitter, web %>
		<p><em>We'd love to get to know you better. Why not take a few seconds to tell the community more about yourself; the more you give, the more you'll get back, and the better we'll get at gathering amazing folk to turbo-charge challenges.</em></p>
		<p class="call"><%= link_to "Tell us more about yourself", moar_path %></p>
	<% end %>

	<div id="profile">
						
		<section id="details" class="panel_full">

			<div class="cont">
			
				<div id="profile_avatar">
				
					<% if @member.avatar.url.nil? %>
					<div class="avatar <%= "tip" if signed_in_as_owner?(@member) %>" title="<%= "Show us yer face!" if signed_in_as_owner?(@member) %>">
						<div class="mask">
							<%= image_tag "assets/avatar_large.png" %>
							<%= render "avatar_form" %>
						</div>
					</div>
					<% else %>
					<div class="avatar <%= "tip" if signed_in_as_owner?(@member) %>" title="<%= "Change your avatar" if signed_in_as_owner?(@member) %>">
						<div class="mask">
							<%= image_tag @member.avatar %>
							<%= render "avatar_form" %>
						</div>
					</div>
					<% end %>
		
					<h1><%= @member.name %></h1>
				
					<% if @member.url.present? || @member.twitter_handle.present? %>
						<p class="twitter"><%= "#{link_to "Twitter", "http://twitter.com/#{@member.twitter_handle}"}".html_safe  if @member.twitter_handle.present? %></p>
						<p class="web"><%= "#{link_to "Web", @member.url}".html_safe if @member.url.present? %></p>
					<% end %>
	
					<!-- if none, inline form -->
					<blockquote><p><%= @member.reasons_for_joining %></p></blockquote>	
		
				</div>
				<% if @member.can_be_contacted? && !signed_in_as_owner?(@member) %>
					<p class="contact"><%= link_to "Say<br />hello!".html_safe, message_member_messaging_messages_path(@member)  %></p>
				<% elsif signed_in_as_owner?(@member) && !@member.can_be_contacted? %>
					<p class="contact"><%= link_to "Enable<br />messaging!".html_safe, notifications_path(@member) %></p>
				<% end %>			
				<% if @member.chapter || @member.location.present? %>
				<p class="location">
					<% if @member.chapter %>
						<%= @member.chapter.title %>
					<% elsif @member.location.present? %>
						<%= @member.location %>
					<% end %>
					<span><%= (@member.crew?) ? "crew" : "member" %></span>
				</p>
				<% end %>
				
			</div>
			
			<% if @member.can_be_contacted? && !signed_in_as_owner?(@member) %>
				<p class="contact"><%= link_to "Say<br />hello!".html_safe, message_member_messaging_messages_path(@member)  %></p>
			<% elsif signed_in_as_owner?(@member) && !@member.can_be_contacted? %>
				<p class="contact"><%= link_to "Enable<br />messaging!".html_safe, notifications_path(@member) %></p>
			<% end %>
			
			<% if signed_in_as_owner?(@member) %>
				<p class="edit"><%= link_to "Edit profile", edit_user_registration_path %></p>
			<% end %>
							
		</section>
		
		<% if signed_in_as_owner?(@member) && @member.crew? %>
		<section id="chapter" class="panel_full">
			<h2>Your chapter</h2>
			
			<p><%= link_to "The Hive", hive_root_path %></p>
			
			<% if @member.can?(:read, Page) %>
			<p><%= link_to "Chapter Toolkit", wiki_pages_path %></p>
			<% end %>
			
			<h3>This year:</h3>
			<p>3 gigs, 5 socials, 2 challenges, 10 blog posts, 22 warbles</p>
			
			<% unless @member.chapter.shaken_hands? %>
			<h3>Handshake agreement</h3>
			<p>Nothing heavy here, a virtual handshake, a declaration of mutual respect and an agreement to give it a go together. If you can download sign and mail it back. That would be awesome. [download here]</p>
			<% end %>
			
		</section>
		<% end %>
		
		<section id="manifesto" class="panel_full">
			
			<h2><%= contextual_reference(@member, "your").titlecase %> 'getting stuff done' manifesto</h2>
			
			<div class="skills_and_talents">
			
				<!-- prompt to input skills if none -->
			
				<% if @member.talents.any? %>
				<ul class="talents">
					<% @member.talents.each do |talent| %>
						<% if talent.skill.title == "Think" 
						
							@make = 100-((talent.level.to_f/10)*100) 
							@think =  100-@make
						
						%>
						<li class="<%= talent.skill.title.underscore %>" data-talent-level="<%= talent.level %>">
							<div class="fill" style="width: <%= @make %>%;">Make</div>
							<div class="fill" style="width: <%= @think %>%;">Think</div>
							<div class="mask"></div>
						</li>
						<% else %>
						<li class="<%= talent.skill.title.underscore %>"><%= talent.level %><sub>/10</sub> <span><%= talent.skill.title %></span></li>
						<% end %>
					<% end %>
				</ul>
				<% end %>
			
				<div id="special_skills">
				<!-- if none, inline form -->
				<% if @member.brings? %>
					<%= simple_format @member.brings %>
				<% end %>
				</div>
			
			</div>
			
			<% if signed_in_as_owner?(@member) %>
				<p class="edit"><%= link_to "Edit your manifesto", talents_path %></p>
			<% end %>
			
		</section>
	
		<section id="history" class="panel_full">

			<h2>Part of the movement <%= time_active(@member) %></h2>
			
			<ul class="action_history">
				<% if @member.can?(:manage, Trill) %>
				<li class="action_trill"><%= link_to pluralize(@member.trills.count, "trill") %></li>
				<% end %>
				<li class="action_challenge"><%= pluralize(@member.working_on.count, "challenge") %></li>
				<li class="action_collab"><%= link_to pluralize(@member.member_reach.count, "collaborator"), members_path %></li>
				<li class="action_gig"><%= pluralize(@member.gigs.count, "gig") %></li>
				<li class="action_social"><%= pluralize(@member.socials.count, "social") %></li>
			</ul>

			<% if @history.any? %>
				<% @history.each do |d| %>
					<% date = Date.new(d.first.first, d.first.second) %>
					<h3><%= date.strftime("%B %Y") %></h3>
					<% if d.second.any? %>
						<ul class="action_items">
						<% d.second.each do |action| %>
							<li class="action_item_<%= action.class.to_s.downcase %>">
							
								<%= "Wrote about \"#{action.title}\"" if action.class == Trill %>
								<%= "Attended the #{action.title} gig in #{action.chapter.title}" if action.class == Gig %>
								<%= "Attended a social in #{action.chapter.title}" if action.class == Social %>
								<%= "Contributed to \"#{action.challenge.title}\"" if action.class == Contribution %>
								
								<% if action.class == Comment %>
									<%= "Left a comment on \"#{action.commentable.name}\"" if action.commentable_type == "Social" %>
									<%= "Left a comment on \"#{action.commentable.title}\"" if action.commentable_type == "Challenge" %>									
									<%= "Left a comment on \"#{action.commentable.name}\"" if action.commentable_type == "Gig" %>
								<% end %>
								on
								<%= action.audited_at.strftime("%A") %> 
								<%= action.audited_at.strftime("%d").to_i.ordinalize %>
							</li>
						<% end %>
						</ul>
					<% end %>
				<% end %>
			<% end %>
			
			<% if signed_in_as_owner?(@member) %>
				<p class="edit"><%= link_to "Add activity", activity_path %></p>
			<% end %>

		</section>
		
	</div>
	
	<% if signed_in_as_owner?(@member) %>
	<h3>Want to leave?</h3>
	<p class="footnote">You can <%= link_to "delete your account", registration_path(@member), :method => "delete", :confirm => "Are you sure you want to delete your entire account? There's no going back." %>, but we'd be sorry to see you go!</p> 
	<% end %>
	
</section>